@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300,300italic");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:600,600italic,700,700italic");
/* line 36, ../../../.rvm/gems/ruby-1.9.3-p484/gems/toolkit-1.3.8/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('/css/../behaviors/box-sizing/boxsizing.php');
}

/* line 4, ../../../.rvm/gems/ruby-1.9.3-p484/gems/toolkit-1.3.8/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto;
}

/* line 8, ../sass/partials/base/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/partials/base/_base.scss */
html {
  background-color: white;
}

/* line 16, ../sass/partials/base/_base.scss */
body {
  color: black;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

/* line 23, ../sass/partials/base/_base.scss */
input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 31, ../sass/partials/base/_base.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 38, ../sass/partials/base/_base.scss */
button,
input {
  line-height: normal;
  text-transform: none;
}

/* line 46, ../sass/partials/base/_base.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 51, ../sass/partials/base/_base.scss */
input[type="search"] {
  -webkit-appearance: textfield;
}

/* line 1, ../sass/partials/layout/_layout.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/partials/layout/_layout.scss */
.l-container {
  position: relative;
  width: 100%;
  max-width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 1160px) {
  /* line 6, ../sass/partials/layout/_layout.scss */
  .l-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 1, ../sass/partials/module/partials/_helpers.scss */
.clearfix, .info-items {
  *zoom: 1;
}
/* line 7, ../sass/partials/module/partials/_helpers.scss */
.clearfix:before, .info-items:before, .clearfix:after, .info-items:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 12, ../sass/partials/module/partials/_helpers.scss */
.clearfix:after, .info-items:after {
  clear: both;
}

/* line 17, ../sass/partials/module/partials/_helpers.scss */
.text-center {
  text-align: center;
}

/* line 1, ../sass/partials/module/partials/_typography.scss */
h1, h2 {
  font-size: 2.25em;
  font-weight: 300;
  color: #692f59;
  margin: 0 0 0.3em 0;
}

/* line 7, ../sass/partials/module/partials/_typography.scss */
h2 {
  font-size: 2em;
}

/* line 11, ../sass/partials/module/partials/_typography.scss */
h3 {
  font-size: 1.125em;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

/* line 17, ../sass/partials/module/partials/_typography.scss */
p {
  margin: 0 0 0.3em 0;
}

/* line 20, ../sass/partials/module/partials/_typography.scss */
a {
  color: #692f59;
}

/* line 1, ../sass/partials/module/partials/_buttons.scss */
.btn {
  font-weight: 400;
  font-style: italic;
}
/* line 4, ../sass/partials/module/partials/_buttons.scss */
.btn.btn-blue {
  font-size: 18px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF9FD8D8', endColorstr='#FF56BBBB');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9fd8d8), color-stop(70%, #92d2d2));
  background: -webkit-linear-gradient(#9fd8d8, #92d2d2 70%);
  background: -moz-linear-gradient(#9fd8d8, #92d2d2 70%);
  background: -o-linear-gradient(#9fd8d8, #92d2d2 70%);
  background: linear-gradient(#9fd8d8, #92d2d2 70%);
  -webkit-box-shadow: #d5eeee 0 1px 0 inset;
  -moz-box-shadow: #d5eeee 0 1px 0 inset;
  box-shadow: #d5eeee 0 1px 0 inset;
  border: 1px solid #80cbcb;
  color: black;
  border: 1px solid #5db3b3;
}
/* line 15, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn.btn-blue:hover {
  text-decoration: none;
}
/* line 18, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn.btn-blue:hover {
  background-color: #80cbcb;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #8dd1d1), color-stop(75%, #80cbcb));
  background: -webkit-linear-gradient(#8dd1d1 3%, #80cbcb 75%);
  background: -moz-linear-gradient(#8dd1d1 3%, #80cbcb 75%);
  background: -o-linear-gradient(#8dd1d1 3%, #80cbcb 75%);
  background: linear-gradient(#8dd1d1 3%, #80cbcb 75%);
}
/* line 21, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn.btn-blue:active {
  -webkit-box-shadow: #75c6c6 0 1px 2px inset;
  -moz-box-shadow: #75c6c6 0 1px 2px inset;
  box-shadow: #75c6c6 0 1px 2px inset;
}
/* line 6, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn.btn-blue.disabled, .btn.btn-blue[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #92d2d2;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.btn.btn-blue::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 8, ../sass/partials/module/partials/_buttons.scss */
.btn.btn-purple {
  font-size: 18px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF754C6C', endColorstr='#FF372433');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #754c6c), color-stop(70%, #672a55));
  background: -webkit-linear-gradient(#754c6c, #672a55 70%);
  background: -moz-linear-gradient(#754c6c, #672a55 70%);
  background: -o-linear-gradient(#754c6c, #672a55 70%);
  background: linear-gradient(#754c6c, #672a55 70%);
  -webkit-box-shadow: #a06d95 0 1px 0 inset;
  -moz-box-shadow: #a06d95 0 1px 0 inset;
  box-shadow: #a06d95 0 1px 0 inset;
  border: 1px solid #552346;
  color: white;
  border: 1px solid #3a2a46;
}
/* line 15, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn.btn-purple:hover {
  text-decoration: none;
}
/* line 18, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn.btn-purple:hover {
  background-color: #552346;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #66425e), color-stop(75%, #552346));
  background: -webkit-linear-gradient(#66425e 3%, #552346 75%);
  background: -moz-linear-gradient(#66425e 3%, #552346 75%);
  background: -o-linear-gradient(#66425e 3%, #552346 75%);
  background: linear-gradient(#66425e 3%, #552346 75%);
}
/* line 21, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn.btn-purple:active {
  -webkit-box-shadow: #4a1e3d 0 1px 2px inset;
  -moz-box-shadow: #4a1e3d 0 1px 2px inset;
  box-shadow: #4a1e3d 0 1px 2px inset;
}
/* line 6, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn.btn-purple.disabled, .btn.btn-purple[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #672a55;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.btn.btn-purple::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 13, ../sass/partials/module/partials/_buttons.scss */
.btn.btn-complex {
  padding-right: 16px !important;
}
/* line 15, ../sass/partials/module/partials/_buttons.scss */
.btn.btn-complex span {
  display: inline-block;
  margin: 5px 8px;
  padding-right: 30px;
  border-right: 1px solid #d9a2c9;
  -webkit-font-smoothing: antialiased;
}
/* line 22, ../sass/partials/module/partials/_buttons.scss */
.btn.btn-complex i {
  vertical-align: middle;
}

/* line 1, ../sass/partials/module/partials/_header.scss */
.header {
  margin: 35px 0 30px 0;
}

/* line 1, ../sass/partials/module/partials/_menu.scss */
.main-menu {
  float: right;
  margin: 5px 0 0;
}
/* line 5, ../sass/partials/module/partials/_menu.scss */
.main-menu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
/* line 9, ../sass/partials/module/partials/_menu.scss */
.main-menu ul li {
  display: block;
  float: left;
  padding: 0px 8px;
  font-size: 0.875em;
}
/* line 14, ../sass/partials/module/partials/_menu.scss */
.main-menu ul li a {
  text-decoration: none;
  color: black;
}

/* line 1, ../sass/partials/module/partials/_content.scss */
.light-blue-block {
  background-color: #deeced;
}

/* line 4, ../sass/partials/module/partials/_content.scss */
.dark-blue-block {
  position: absolute;
  z-index: 10;
  bottom: 110px;
  background-color: #92d2d2;
  width: 100%;
}

/* line 13, ../sass/partials/module/partials/_content.scss */
.hero {
  position: relative;
  overflow: hidden;
}
/* line 18, ../sass/partials/module/partials/_content.scss */
.hero img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 100%;
}
/* line 26, ../sass/partials/module/partials/_content.scss */
.hero .teaser {
  position: relative;
  max-width: 580px;
  padding: 70px 0;
  z-index: 2;
}
/* line 31, ../sass/partials/module/partials/_content.scss */
.hero .teaser ul {
  padding-left: 0;
}
/* line 33, ../sass/partials/module/partials/_content.scss */
.hero .teaser ul li {
  font-size: 1.375em;
  list-style: none;
}
/* line 36, ../sass/partials/module/partials/_content.scss */
.hero .teaser ul li:before {
  content: "g";
  font-family: "forbrukerhjelpen";
  font-size: 0.875em;
  width: 30px;
  display: inline-block;
}
/* line 45, ../sass/partials/module/partials/_content.scss */
.hero .teaser p {
  font-size: 0.875em;
}
/* line 47, ../sass/partials/module/partials/_content.scss */
.hero .teaser p span {
  font-weight: 600;
  font-size: 1.57143em;
  color: #692f59;
}
/* line 54, ../sass/partials/module/partials/_content.scss */
.hero footer {
  margin: 170px 0 70px;
  font-size: 0.875em;
}

/* line 61, ../sass/partials/module/partials/_content.scss */
.info-items {
  padding: 60px 0;
}
/* line 65, ../sass/partials/module/partials/_content.scss */
.info-items header {
  margin: 0 0 1em 0;
}
/* line 68, ../sass/partials/module/partials/_content.scss */
.info-items header h2 {
  margin-bottom: 25px;
}
/* line 71, ../sass/partials/module/partials/_content.scss */
.info-items header h2:before {
  content: "";
  width: 130px;
  height: 20px;
  background: url(img/info-item-left.png) center left no-repeat;
  display: inline-block;
}
/* line 78, ../sass/partials/module/partials/_content.scss */
.info-items header h2:after {
  content: "";
  width: 130px;
  height: 20px;
  background: url(img/info-item-right.png) center right no-repeat;
  display: inline-block;
}
@media (min-width: 960px) {
  /* line 65, ../sass/partials/module/partials/_content.scss */
  .info-items header {
    text-align: center;
  }
}
/* line 90, ../sass/partials/module/partials/_content.scss */
.info-items .info-item {
  margin-bottom: 10px;
  min-height: 105px;
}
/* line 94, ../sass/partials/module/partials/_content.scss */
.info-items .info-item p {
  margin-top: 20px;
  color: #787878;
  font-size: 1.125em;
}
/* line 100, ../sass/partials/module/partials/_content.scss */
.info-items .info-item p.recommend {
  color: black;
}
@media (min-width: 320px) and (max-width: 960px) {
  /* line 106, ../sass/partials/module/partials/_content.scss */
  .info-items .info-item img {
    float: left;
    margin: 0 15px 0 0;
  }
}
@media (min-width: 960px) {
  /* line 90, ../sass/partials/module/partials/_content.scss */
  .info-items .info-item {
    width: 29.41176%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 5.88235%;
    text-align: center;
  }
  /* line 114, ../sass/partials/module/partials/_content.scss */
  .info-items .info-item:nth-of-type(3n) {
    margin-right: 0;
  }
  /* line 118, ../sass/partials/module/partials/_content.scss */
  .info-items .info-item img {
    margin-bottom: 24px;
  }
}

/* line 125, ../sass/partials/module/partials/_content.scss */
hr {
  border-top: 5px solid white;
}

/* line 130, ../sass/partials/module/partials/_content.scss */
table {
  width: 100%;
  border-spacing: 0px;
}
/* line 133, ../sass/partials/module/partials/_content.scss */
table thead {
  background-color: #ededed;
}
/* line 135, ../sass/partials/module/partials/_content.scss */
table thead th {
  padding: 12px;
  border-right: 1px solid #d5d5d5;
  font-size: 0.75em;
  font-weight: 300;
  text-transform: uppercase;
  text-align: left;
}
/* line 145, ../sass/partials/module/partials/_content.scss */
table tbody td {
  padding: 12px;
  font-size: 1.125em;
  text-align: left;
}
/* line 150, ../sass/partials/module/partials/_content.scss */
table tbody td.value {
  font-weight: 600;
  color: #692f59;
}

/* line 1, ../sass/partials/module/partials/_footer.scss */
.footer {
  border-top: 10px solid #92d2d2;
  background-color: #deeced;
  margin-top: 20px;
}
/* line 6, ../sass/partials/module/partials/_footer.scss */
.footer > div {
  border-top: 1px solid #92d2d2;
}
/* line 10, ../sass/partials/module/partials/_footer.scss */
.footer .menu-block {
  padding: 15px 0 10px;
}
/* line 13, ../sass/partials/module/partials/_footer.scss */
.footer .padded-block {
  padding: 50px 0;
  text-align: right;
  font-size: 18px;
}
/* line 18, ../sass/partials/module/partials/_footer.scss */
.footer .copyright {
  padding: 10px 0 5px;
  font-size: 14px;
  color: #898989;
}

/* line 2, ../sass/partials/module/partials/_forms.scss */
.arrow_box {
  height: 50px;
  background-color: #242d2d;
  position: absolute;
  top: -50px;
  color: #fff;
  padding: 12px 15px;
  font-size: 18px;
}
/* line 7, ../sass/partials/module/partials/_forms.scss */
.arrow_box:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #242d2d;
  border-width: 10px;
  margin-left: -10px;
}

/* line 22, ../sass/partials/module/partials/_forms.scss */
.subscribe-form {
  padding: 25px 0;
}
/* line 25, ../sass/partials/module/partials/_forms.scss */
.subscribe-form > div {
  position: relative;
  float: left;
  height: 58px;
  width: 30%;
  margin-right: 10px;
}
@media (min-width: 960px) {
  /* line 25, ../sass/partials/module/partials/_forms.scss */
  .subscribe-form > div {
    width: 24%;
  }
}
@media (min-width: 1160px) {
  /* line 25, ../sass/partials/module/partials/_forms.scss */
  .subscribe-form > div {
    width: 20%;
  }
}
/* line 38, ../sass/partials/module/partials/_forms.scss */
.subscribe-form > div.light {
  padding: 12px 10px;
  background-color: #fff;
}
/* line 41, ../sass/partials/module/partials/_forms.scss */
.subscribe-form > div.light i {
  position: absolute;
  font-size: 30px;
}
/* line 46, ../sass/partials/module/partials/_forms.scss */
.subscribe-form > div.dark {
  width: 28%;
  font-size: 0.875em;
  margin-right: 20px;
}
@media (min-width: 960px) {
  /* line 46, ../sass/partials/module/partials/_forms.scss */
  .subscribe-form > div.dark {
    width: 18%;
  }
}
@media (min-width: 1160px) {
  /* line 46, ../sass/partials/module/partials/_forms.scss */
  .subscribe-form > div.dark {
    width: 16%;
  }
}
/* line 57, ../sass/partials/module/partials/_forms.scss */
.subscribe-form > div.small {
  padding: 0;
  width: 30px;
  height: 30px;
}
/* line 64, ../sass/partials/module/partials/_forms.scss */
.subscribe-form input[type="text"] {
  border: none;
  margin: 5px 0 0 36px;
  width: 180px;
  background: none;
}
/* line 69, ../sass/partials/module/partials/_forms.scss */
.subscribe-form input[type="text"]:focus {
  outline: none;
}
/* line 74, ../sass/partials/module/partials/_forms.scss */
.subscribe-form input[type="checkbox"] {
  visibility: hidden;
  margin: 2px 0 0 3px;
  display: block;
}
/* line 78, ../sass/partials/module/partials/_forms.scss */
.subscribe-form input[type="checkbox"]:before {
  visibility: visible;
  content: "g";
  font-family: "forbrukerhjelpen";
  display: inline-block;
  font-size: 26px;
  width: 100px;
  opacity: 0.08;
  cursor: pointer;
}
/* line 88, ../sass/partials/module/partials/_forms.scss */
.subscribe-form input[type="checkbox"]:checked:before {
  opacity: 1.0;
}
/* line 92, ../sass/partials/module/partials/_forms.scss */
.subscribe-form label {
  cursor: pointer;
}
/* line 96, ../sass/partials/module/partials/_forms.scss */
.subscribe-form button {
  padding-right: 16px !important;
}
/* line 98, ../sass/partials/module/partials/_forms.scss */
.subscribe-form button span {
  display: inline-block;
  border-right: 1px solid #d9a2c9;
  margin: 5px 8px;
  padding-right: 30px;
  font-weight: normal;
  font-size: 1.0625em;
  -webkit-font-smoothing: antialiased;
}
/* line 107, ../sass/partials/module/partials/_forms.scss */
.subscribe-form button i {
  line-height: 20px;
  vertical-align: middle;
}
