@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300,300italic");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:600,600italic,700,700italic");
/* line 36, ../../../.rvm/gems/ruby-1.9.3-p484/gems/toolkit-1.3.8/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('/css/../behaviors/box-sizing/boxsizing.php');
}

/* line 4, ../../../.rvm/gems/ruby-1.9.3-p484/gems/toolkit-1.3.8/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto;
}

/* line 8, ../sass/partials/base/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/partials/base/_base.scss */
html {
  background-color: white;
}

/* line 16, ../sass/partials/base/_base.scss */
body {
  color: black;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

/* line 23, ../sass/partials/base/_base.scss */
input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 31, ../sass/partials/base/_base.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 38, ../sass/partials/base/_base.scss */
button,
input {
  line-height: normal;
  text-transform: none;
}

/* line 46, ../sass/partials/base/_base.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 51, ../sass/partials/base/_base.scss */
input[type="search"] {
  -webkit-appearance: textfield;
}

/* line 1, ../sass/partials/layout/_layout.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/partials/layout/_layout.scss */
.p-container {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 10, ../sass/partials/layout/_layout.scss */
.l-container, .p-container {
  position: relative;
  width: 100%;
  max-width: 1160px;
}
@media (min-width: 1200px) {
  /* line 10, ../sass/partials/layout/_layout.scss */
  .l-container, .p-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 1, ../sass/partials/module/partials/_helpers.scss */
.clearfix, .info-items, .topic-header-block nav {
  *zoom: 1;
}
/* line 7, ../sass/partials/module/partials/_helpers.scss */
.clearfix:before, .info-items:before, .topic-header-block nav:before, .clearfix:after, .info-items:after, .topic-header-block nav:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 12, ../sass/partials/module/partials/_helpers.scss */
.clearfix:after, .info-items:after, .topic-header-block nav:after {
  clear: both;
}

/* line 17, ../sass/partials/module/partials/_helpers.scss */
.text-center {
  text-align: center;
}

/* line 1, ../sass/partials/module/partials/_typography.scss */
h1, h2 {
  font-size: 2.25em;
  font-weight: 300;
  color: #692f59;
  margin: 0 0 0.3em 0;
}

/* line 7, ../sass/partials/module/partials/_typography.scss */
h2 {
  font-size: 2em;
}

/* line 11, ../sass/partials/module/partials/_typography.scss */
h3 {
  font-size: 1.125em;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

/* line 17, ../sass/partials/module/partials/_typography.scss */
p {
  margin: 0 0 0.3em 0;
}

/* line 20, ../sass/partials/module/partials/_typography.scss */
a {
  color: #692f59;
}

/* line 1, ../sass/partials/module/partials/_buttons.scss */
.btn {
  font-weight: 400;
  font-style: italic;
}
/* line 4, ../sass/partials/module/partials/_buttons.scss */
.btn.btn-blue {
  font-size: 18px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF9FD8D8', endColorstr='#FF56BBBB');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9fd8d8), color-stop(70%, #92d2d2));
  background: -webkit-linear-gradient(#9fd8d8, #92d2d2 70%);
  background: -moz-linear-gradient(#9fd8d8, #92d2d2 70%);
  background: -o-linear-gradient(#9fd8d8, #92d2d2 70%);
  background: linear-gradient(#9fd8d8, #92d2d2 70%);
  -webkit-box-shadow: #d5eeee 0 1px 0 inset;
  -moz-box-shadow: #d5eeee 0 1px 0 inset;
  box-shadow: #d5eeee 0 1px 0 inset;
  border: 1px solid #80cbcb;
  color: black;
  border: 1px solid #5db3b3;
}
/* line 15, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn.btn-blue:hover {
  text-decoration: none;
}
/* line 18, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn.btn-blue:hover {
  background-color: #80cbcb;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #8dd1d1), color-stop(75%, #80cbcb));
  background: -webkit-linear-gradient(#8dd1d1 3%, #80cbcb 75%);
  background: -moz-linear-gradient(#8dd1d1 3%, #80cbcb 75%);
  background: -o-linear-gradient(#8dd1d1 3%, #80cbcb 75%);
  background: linear-gradient(#8dd1d1 3%, #80cbcb 75%);
}
/* line 21, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn.btn-blue:active {
  -webkit-box-shadow: #75c6c6 0 1px 2px inset;
  -moz-box-shadow: #75c6c6 0 1px 2px inset;
  box-shadow: #75c6c6 0 1px 2px inset;
}
/* line 6, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn.btn-blue.disabled, .btn.btn-blue[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #92d2d2;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.btn.btn-blue::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 8, ../sass/partials/module/partials/_buttons.scss */
.btn.btn-purple {
  font-size: 18px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF754C6C', endColorstr='#FF372433');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #754c6c), color-stop(70%, #672a55));
  background: -webkit-linear-gradient(#754c6c, #672a55 70%);
  background: -moz-linear-gradient(#754c6c, #672a55 70%);
  background: -o-linear-gradient(#754c6c, #672a55 70%);
  background: linear-gradient(#754c6c, #672a55 70%);
  -webkit-box-shadow: #a06d95 0 1px 0 inset;
  -moz-box-shadow: #a06d95 0 1px 0 inset;
  box-shadow: #a06d95 0 1px 0 inset;
  border: 1px solid #552346;
  color: white;
  border: 1px solid #3a2a46;
}
/* line 15, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn.btn-purple:hover {
  text-decoration: none;
}
/* line 18, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn.btn-purple:hover {
  background-color: #552346;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #66425e), color-stop(75%, #552346));
  background: -webkit-linear-gradient(#66425e 3%, #552346 75%);
  background: -moz-linear-gradient(#66425e 3%, #552346 75%);
  background: -o-linear-gradient(#66425e 3%, #552346 75%);
  background: linear-gradient(#66425e 3%, #552346 75%);
}
/* line 21, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn.btn-purple:active {
  -webkit-box-shadow: #4a1e3d 0 1px 2px inset;
  -moz-box-shadow: #4a1e3d 0 1px 2px inset;
  box-shadow: #4a1e3d 0 1px 2px inset;
}
/* line 6, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn.btn-purple.disabled, .btn.btn-purple[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #672a55;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.btn.btn-purple::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 13, ../sass/partials/module/partials/_buttons.scss */
.btn.btn-complex {
  padding-right: 16px !important;
}
/* line 15, ../sass/partials/module/partials/_buttons.scss */
.btn.btn-complex span {
  display: inline-block;
  margin: 5px 8px;
  padding-right: 30px;
  border-right: 1px solid #d9a2c9;
  -webkit-font-smoothing: antialiased;
}
/* line 22, ../sass/partials/module/partials/_buttons.scss */
.btn.btn-complex i {
  vertical-align: middle;
}

/* line 1, ../sass/partials/module/partials/_header.scss */
.header {
  margin-top: 35px;
  margin-bottom: 30px;
}

@media (min-width: 0) and (max-width: 719px) {
  /* line 3, ../sass/partials/module/partials/_menu.scss */
  .main-menu {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    height: 1200px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: none;
  }
  /* line 12, ../sass/partials/module/partials/_menu.scss */
  .main-menu ul {
    list-style: none;
    padding: 0px;
    margin: -0px;
  }
  /* line 16, ../sass/partials/module/partials/_menu.scss */
  .main-menu ul li {
    border-top: 1px solid #7b4970;
    background-color: #692f59;
    display: none;
  }
  /* line 20, ../sass/partials/module/partials/_menu.scss */
  .main-menu ul li.mobile {
    display: block;
  }
  /* line 22, ../sass/partials/module/partials/_menu.scss */
  .main-menu ul li.mobile a {
    display: block;
    padding: 30px;
    font-size: 1.25em;
    color: #fff;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: right 80px center;
  }
  /* line 29, ../sass/partials/module/partials/_menu.scss */
  .main-menu ul li.mobile a:after {
    display: block;
    float: right;
    vertical-align: middle;
    font-family: "forbrukerhjelpen" !important;
    content: "v";
    margin-top: -5px;
    font-size: 1.625em;
    color: #7b4970;
  }
  /* line 42, ../sass/partials/module/partials/_menu.scss */
  .main-menu ul li.mobile:nth-child(1) a {
    background-image: url(../img/menu-icon-1.png);
  }
  /* line 45, ../sass/partials/module/partials/_menu.scss */
  .main-menu ul li.mobile:nth-child(2) a {
    background-image: url(../img/menu-icon-2.png);
  }
  /* line 48, ../sass/partials/module/partials/_menu.scss */
  .main-menu ul li.mobile:nth-child(3) a {
    background-image: url(../img/menu-icon-3.png);
  }

  /* line 55, ../sass/partials/module/partials/_menu.scss */
  .menu-open .main-menu {
    display: block;
  }

  /* line 58, ../sass/partials/module/partials/_menu.scss */
  .footer .main-menu {
    display: none;
  }
}
@media (min-width: 720px) {
  /* line 64, ../sass/partials/module/partials/_menu.scss */
  .main-menu {
    float: right;
    margin: 5px 0 0;
  }
  /* line 67, ../sass/partials/module/partials/_menu.scss */
  .main-menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  /* line 71, ../sass/partials/module/partials/_menu.scss */
  .main-menu ul li {
    display: block;
    float: left;
    padding: 0px 8px;
  }
  /* line 75, ../sass/partials/module/partials/_menu.scss */
  .main-menu ul li a {
    text-decoration: none;
    color: black;
    font-size: 0.875em;
  }
  /* line 80, ../sass/partials/module/partials/_menu.scss */
  .main-menu ul li.mobile img, .main-menu ul li.mobile i {
    display: none;
  }
  /* line 83, ../sass/partials/module/partials/_menu.scss */
  .main-menu ul li .submenu {
    position: absolute;
    z-index: 9;
    display: none;
  }
  /* line 87, ../sass/partials/module/partials/_menu.scss */
  .main-menu ul li .submenu li {
    float: none;
    padding: 4px 0px 2px;
  }
  /* line 92, ../sass/partials/module/partials/_menu.scss */
  .main-menu ul li:hover .submenu {
    display: block;
  }
}
/* line 101, ../sass/partials/module/partials/_menu.scss */
.menu-toggle {
  float: right;
  border: 2px solid #ccc;
  padding: 6px 6px;
  width: 93px;
  border-radius: 3px;
  margin-top: -6px;
  display: block;
}
@media (min-width: 720px) {
  /* line 101, ../sass/partials/module/partials/_menu.scss */
  .menu-toggle {
    display: none;
  }
}
/* line 113, ../sass/partials/module/partials/_menu.scss */
.menu-toggle > span {
  display: block;
  float: left;
  text-transform: uppercase;
  color: #bbb;
  font-size: 0.6875em;
  font-weight: bold;
  padding: 5px 0;
  height: 25px;
}
/* line 123, ../sass/partials/module/partials/_menu.scss */
.menu-toggle > div {
  display: block;
  float: right;
  border-left: 1px solid #ccc;
  padding-left: 8px;
}
/* line 128, ../sass/partials/module/partials/_menu.scss */
.menu-toggle > div span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #ccc;
  margin-top: 3px;
}
/* line 134, ../sass/partials/module/partials/_menu.scss */
.menu-toggle > div span:first-child {
  margin-top: 0;
}

/* line 141, ../sass/partials/module/partials/_menu.scss */
.menu-toggle:hover, .menu-open .menu-toggle {
  border-color: #692f59;
}
/* line 143, ../sass/partials/module/partials/_menu.scss */
.menu-toggle:hover > span, .menu-open .menu-toggle > span {
  color: #692f59;
}
/* line 146, ../sass/partials/module/partials/_menu.scss */
.menu-toggle:hover > div span, .menu-open .menu-toggle > div span {
  background-color: #692f59;
}

/* line 1, ../sass/partials/module/partials/_hero.scss */
.light-blue-block {
  background-color: #deeced;
  position: relative;
}

/* line 5, ../sass/partials/module/partials/_hero.scss */
.dark-blue-block {
  background-color: #92d2d2;
  z-index: 5;
}
@media (min-width: 960px) {
  /* line 5, ../sass/partials/module/partials/_hero.scss */
  .dark-blue-block {
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 440px;
  }
}

/* line 17, ../sass/partials/module/partials/_hero.scss */
.hero {
  position: relative;
  overflow: hidden;
}
@media (min-width: 720px) {
  /* line 17, ../sass/partials/module/partials/_hero.scss */
  .hero {
    height: 425px;
  }
}
@media (min-width: 960px) {
  /* line 17, ../sass/partials/module/partials/_hero.scss */
  .hero {
    height: 650px;
  }
}
/* line 28, ../sass/partials/module/partials/_hero.scss */
.hero img {
  position: absolute;
  z-index: 1;
  right: 0;
  width: 60%;
  bottom: 100px;
}
@media (min-width: 480px) {
  /* line 28, ../sass/partials/module/partials/_hero.scss */
  .hero img {
    top: 30px;
    bottom: auto;
  }
}
@media (min-width: 720px) {
  /* line 28, ../sass/partials/module/partials/_hero.scss */
  .hero img {
    width: auto;
    height: 425px;
    top: 0;
  }
}
@media (min-width: 960px) {
  /* line 28, ../sass/partials/module/partials/_hero.scss */
  .hero img {
    height: 650px;
    top: auto;
    bottom: 0;
  }
}
/* line 51, ../sass/partials/module/partials/_hero.scss */
.hero .teaser {
  position: relative;
  padding-top: 40px;
  z-index: 2;
}
@media (min-width: 720px) {
  /* line 51, ../sass/partials/module/partials/_hero.scss */
  .hero .teaser {
    max-width: 50%;
    padding-top: 55px;
  }
}
@media (min-width: 960px) {
  /* line 51, ../sass/partials/module/partials/_hero.scss */
  .hero .teaser {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
/* line 65, ../sass/partials/module/partials/_hero.scss */
.hero .teaser h1, .hero .teaser h2 {
  font-size: 2em !important;
}
@media (min-width: 960px) {
  /* line 65, ../sass/partials/module/partials/_hero.scss */
  .hero .teaser h1, .hero .teaser h2 {
    font-size: 2.25em !important;
  }
}
/* line 71, ../sass/partials/module/partials/_hero.scss */
.hero .teaser ul {
  padding-left: 0;
}
/* line 73, ../sass/partials/module/partials/_hero.scss */
.hero .teaser ul li {
  list-style: none;
  font-size: 1.125em;
  width: 50%;
}
@media (min-width: 720px) {
  /* line 73, ../sass/partials/module/partials/_hero.scss */
  .hero .teaser ul li {
    width: auto;
  }
}
@media (min-width: 960px) {
  /* line 73, ../sass/partials/module/partials/_hero.scss */
  .hero .teaser ul li {
    font-size: 1.375em;
  }
}
/* line 83, ../sass/partials/module/partials/_hero.scss */
.hero .teaser ul li:before {
  display: inline-block;
  width: 30px;
  content: "g";
  font-family: "forbrukerhjelpen";
  font-size: 0.875em;
}
/* line 92, ../sass/partials/module/partials/_hero.scss */
.hero .teaser p {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 0.875em;
  margin-bottom: 0;
  padding-top: 10px;
  height: 100px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}
@media (min-width: 720px) {
  /* line 92, ../sass/partials/module/partials/_hero.scss */
  .hero .teaser p {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    height: auto;
    text-align: left;
    background: none;
  }
}
/* line 108, ../sass/partials/module/partials/_hero.scss */
.hero .teaser p span {
  font-weight: 600;
  font-size: 1.57143em;
  color: #692f59;
}

/* line 3, ../sass/partials/module/partials/_content.scss */
.info-items {
  border-bottom: 8px solid #ededed;
}
@media (min-width: 720px) {
  /* line 3, ../sass/partials/module/partials/_content.scss */
  .info-items {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ededed;
  }
}
@media (min-width: 960px) {
  /* line 3, ../sass/partials/module/partials/_content.scss */
  .info-items {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
/* line 17, ../sass/partials/module/partials/_content.scss */
.info-items header {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 21, ../sass/partials/module/partials/_content.scss */
.info-items header h2 {
  margin-bottom: 25px;
}
@media (min-width: 0) and (max-width: 719px) {
  /* line 21, ../sass/partials/module/partials/_content.scss */
  .info-items header h2 {
    cursor: pointer;
    font-size: 1.25em;
    color: black;
    font-weight: 600;
    margin-bottom: 0;
  }
  /* line 29, ../sass/partials/module/partials/_content.scss */
  .info-items header h2:before {
    font-family: "forbrukerhjelpen" !important;
    content: "p";
    vertical-align: middle;
    margin-right: 15px;
    color: #d5d5d5;
  }
}
@media (min-width: 720px) {
  /* line 38, ../sass/partials/module/partials/_content.scss */
  .info-items header h2:before {
    content: "";
    width: 130px;
    height: 20px;
    background: url(../img/info-item-left.png) center left no-repeat;
    display: inline-block;
  }
  /* line 45, ../sass/partials/module/partials/_content.scss */
  .info-items header h2:after {
    content: "";
    width: 130px;
    height: 20px;
    background: url(../img/info-item-right.png) center right no-repeat;
    display: inline-block;
  }
}
@media (min-width: 960px) {
  /* line 17, ../sass/partials/module/partials/_content.scss */
  .info-items header {
    text-align: center;
  }
}
/* line 58, ../sass/partials/module/partials/_content.scss */
.info-items .info-item {
  margin-bottom: 25px;
  min-height: 105px;
  display: none;
}
@media (min-width: 720px) {
  /* line 58, ../sass/partials/module/partials/_content.scss */
  .info-items .info-item {
    display: block;
    margin-bottom: 10px;
  }
}
/* line 66, ../sass/partials/module/partials/_content.scss */
.info-items .info-item p {
  margin-top: 20px;
  color: #787878;
  font-size: 1.125em;
}
/* line 71, ../sass/partials/module/partials/_content.scss */
.info-items .info-item p.recommend {
  color: black;
}
@media (min-width: 320px) and (max-width: 959px) {
  /* line 76, ../sass/partials/module/partials/_content.scss */
  .info-items .info-item img {
    float: left;
    margin: 0 15px 0 0;
  }
}
@media (min-width: 960px) {
  /* line 58, ../sass/partials/module/partials/_content.scss */
  .info-items .info-item {
    width: 29.41176%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 5.88235%;
    text-align: center;
  }
  /* line 83, ../sass/partials/module/partials/_content.scss */
  .info-items .info-item:nth-of-type(3n) {
    margin-right: 0;
  }
  /* line 87, ../sass/partials/module/partials/_content.scss */
  .info-items .info-item img {
    margin-bottom: 24px;
  }
}
@media (min-width: 0) and (max-width: 719px) {
  /* line 94, ../sass/partials/module/partials/_content.scss */
  .info-items .open .info-item {
    display: block;
  }
  /* line 97, ../sass/partials/module/partials/_content.scss */
  .info-items .open h2:before {
    content: "q";
  }
}

/* line 104, ../sass/partials/module/partials/_content.scss */
hr {
  color: #ededed;
  background-color: #ededed;
  margin: 0 !important;
  border: none !important;
  height: 8px;
}
@media (min-width: 720px) {
  /* line 104, ../sass/partials/module/partials/_content.scss */
  hr {
    height: 2px;
  }
}

/* line 116, ../sass/partials/module/partials/_content.scss */
table {
  width: 100%;
  border-spacing: 0px;
}
/* line 119, ../sass/partials/module/partials/_content.scss */
table thead {
  background-color: #ededed;
}
/* line 121, ../sass/partials/module/partials/_content.scss */
table thead th {
  padding: 12px;
  border-right: 1px solid #d5d5d5;
  font-size: 0.75em;
  font-weight: 300;
  text-transform: uppercase;
  text-align: left;
}
/* line 131, ../sass/partials/module/partials/_content.scss */
table tbody td {
  padding: 12px;
  font-size: 1.125em;
  text-align: left;
}
/* line 136, ../sass/partials/module/partials/_content.scss */
table tbody td.value {
  font-weight: 600;
  color: #692f59;
}

/* line 1, ../sass/partials/module/partials/_footer.scss */
.footer {
  position: relative;
}
@media (min-width: 720px) {
  /* line 1, ../sass/partials/module/partials/_footer.scss */
  .footer {
    border-top: 10px solid #92d2d2;
    background-color: #deeced;
  }
}
/* line 7, ../sass/partials/module/partials/_footer.scss */
.footer .menu-block {
  padding-top: 15px;
  padding-bottom: 10px;
  display: none;
}
@media (min-width: 720px) {
  /* line 7, ../sass/partials/module/partials/_footer.scss */
  .footer .menu-block {
    display: block;
  }
}
/* line 16, ../sass/partials/module/partials/_footer.scss */
.footer .padded-block {
  border-top: 1px solid #92d2d2;
}
/* line 18, ../sass/partials/module/partials/_footer.scss */
.footer .padded-block > div {
  position: relative;
  padding-top: 50px;
  padding-bottom: 30px;
}
@media (min-width: 720px) {
  /* line 16, ../sass/partials/module/partials/_footer.scss */
  .footer .padded-block {
    border-bottom: 1px solid #92d2d2;
    margin-bottom: 36px;
  }
  /* line 26, ../sass/partials/module/partials/_footer.scss */
  .footer .padded-block > div {
    padding-bottom: 50px;
  }
}
/* line 31, ../sass/partials/module/partials/_footer.scss */
.footer .logo {
  float: left;
  margin-top: 25px;
}
@media (min-width: 720px) {
  /* line 31, ../sass/partials/module/partials/_footer.scss */
  .footer .logo {
    margin-top: 0;
  }
}
/* line 38, ../sass/partials/module/partials/_footer.scss */
.footer .contact {
  float: right;
  text-align: right;
  font-size: 1.125em;
  display: none;
}
@media (min-width: 720px) {
  /* line 38, ../sass/partials/module/partials/_footer.scss */
  .footer .contact {
    display: block;
  }
}
/* line 47, ../sass/partials/module/partials/_footer.scss */
.footer .copyright {
  position: absolute;
  top: 30px;
  font-size: 1em;
  color: #898989;
}
@media (min-width: 720px) {
  /* line 47, ../sass/partials/module/partials/_footer.scss */
  .footer .copyright {
    top: auto;
    bottom: -32px;
    font-size: 0.875em;
  }
}

/* line 2, ../sass/partials/module/partials/_forms.scss */
.dark-blue-block .arrow-box {
  position: absolute;
  z-index: 4;
  top: -50px;
  width: 90%;
  left: 90%;
  margin-left: -85%;
  height: 50px;
  padding: 12px 15px;
  color: #fff;
  background-color: #242d2d;
  font-size: 18px;
  text-align: center;
}
@media (min-width: 720px) {
  /* line 2, ../sass/partials/module/partials/_forms.scss */
  .dark-blue-block .arrow-box {
    float: left;
    width: auto;
    left: auto;
    margin-left: 0;
  }
}
/* line 23, ../sass/partials/module/partials/_forms.scss */
.dark-blue-block .arrow-box:after {
  position: absolute;
  pointer-events: none;
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  border-top-color: #242d2d;
  border-width: 10px;
  margin-left: -10px;
}
/* line 37, ../sass/partials/module/partials/_forms.scss */
.dark-blue-block .extra-info {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  padding-top: 5px;
  background-color: #deeced;
  font-size: 0.875em;
}
@media (min-width: 960px) {
  /* line 37, ../sass/partials/module/partials/_forms.scss */
  .dark-blue-block .extra-info {
    position: absolute;
    bottom: -50px;
    background: none;
  }
}

/* line 53, ../sass/partials/module/partials/_forms.scss */
.subscribe-form {
  padding-top: 25px;
  padding-bottom: 15px;
}
/* line 57, ../sass/partials/module/partials/_forms.scss */
.subscribe-form div {
  position: relative;
  margin-bottom: 5px;
}
@media (min-width: 720px) {
  /* line 57, ../sass/partials/module/partials/_forms.scss */
  .subscribe-form div {
    float: left;
    height: 58px;
    width: 31%;
    margin-right: 2%;
    margin-bottom: 10px;
  }
}
@media (min-width: 960px) {
  /* line 57, ../sass/partials/module/partials/_forms.scss */
  .subscribe-form div {
    width: 23%;
    margin-right: 2%;
  }
}
@media (min-width: 1160px) {
  /* line 57, ../sass/partials/module/partials/_forms.scss */
  .subscribe-form div {
    width: 20%;
    margin-right: 2%;
  }
}
/* line 77, ../sass/partials/module/partials/_forms.scss */
.subscribe-form div.large {
  margin-right: 0;
  height: 121px;
}
@media (min-width: 960px) {
  /* line 77, ../sass/partials/module/partials/_forms.scss */
  .subscribe-form div.large {
    width: 50%;
    height: 58px;
  }
}
@media (min-width: 1160px) {
  /* line 77, ../sass/partials/module/partials/_forms.scss */
  .subscribe-form div.large {
    width: 40%;
  }
}
/* line 87, ../sass/partials/module/partials/_forms.scss */
.subscribe-form div.large div {
  margin-bottom: 5px;
}
@media (min-width: 720px) {
  /* line 87, ../sass/partials/module/partials/_forms.scss */
  .subscribe-form div.large div {
    width: 95%;
    margin-right: 5%;
  }
}
@media (min-width: 960px) {
  /* line 87, ../sass/partials/module/partials/_forms.scss */
  .subscribe-form div.large div {
    width: 47%;
    margin-right: 3%;
    margin-bottom: 10px;
  }
}
/* line 101, ../sass/partials/module/partials/_forms.scss */
.subscribe-form div.light {
  padding: 12px 10px;
  background-color: #fff;
}
/* line 104, ../sass/partials/module/partials/_forms.scss */
.subscribe-form div.light i {
  position: absolute;
  font-size: 30px;
}
/* line 109, ../sass/partials/module/partials/_forms.scss */
.subscribe-form div.dark {
  font-size: 0.875em;
}
/* line 113, ../sass/partials/module/partials/_forms.scss */
.subscribe-form div.small {
  float: left;
  background-color: #fff;
  padding: 0;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
@media (min-width: 960px) {
  /* line 113, ../sass/partials/module/partials/_forms.scss */
  .subscribe-form div.small {
    margin-bottom: 28px;
  }
}
/* line 126, ../sass/partials/module/partials/_forms.scss */
.subscribe-form input[type="text"] {
  border: none;
  margin: 5px 0 0 36px;
  width: 180px;
  background: none;
}
/* line 131, ../sass/partials/module/partials/_forms.scss */
.subscribe-form input[type="text"]:focus {
  outline: none;
}
/* line 136, ../sass/partials/module/partials/_forms.scss */
.subscribe-form input[type="checkbox"] {
  visibility: hidden;
  margin: 2px 0 0 3px;
  display: block;
}
/* line 140, ../sass/partials/module/partials/_forms.scss */
.subscribe-form input[type="checkbox"]:before {
  visibility: visible;
  content: "g";
  font-family: "forbrukerhjelpen";
  display: inline-block;
  font-size: 26px;
  width: 100px;
  opacity: 0.08;
  cursor: pointer;
}
/* line 150, ../sass/partials/module/partials/_forms.scss */
.subscribe-form input[type="checkbox"]:checked:before {
  opacity: 1.0;
}
/* line 154, ../sass/partials/module/partials/_forms.scss */
.subscribe-form label {
  cursor: pointer;
}
/* line 158, ../sass/partials/module/partials/_forms.scss */
.subscribe-form button {
  padding-right: 12px !important;
}
/* line 160, ../sass/partials/module/partials/_forms.scss */
.subscribe-form button span {
  display: inline-block;
  border-right: 1px solid #d9a2c9;
  margin: 5px 8px;
  padding-right: 25px;
  font-weight: normal;
  font-size: 1.0625em;
  -webkit-font-smoothing: antialiased;
}
/* line 169, ../sass/partials/module/partials/_forms.scss */
.subscribe-form button i {
  line-height: 20px;
  vertical-align: middle;
}

/* line 2, ../sass/partials/module/partials/_topic.scss */
.topic-header-block {
  position: relative;
  background-color: #92d2d2;
}
/* line 6, ../sass/partials/module/partials/_topic.scss */
.topic-header-block > div {
  position: relative;
  overflow: hidden;
  height: 260px;
}
@media (min-width: 480px) {
  /* line 6, ../sass/partials/module/partials/_topic.scss */
  .topic-header-block > div {
    height: 345px;
  }
}
/* line 13, ../sass/partials/module/partials/_topic.scss */
.topic-header-block > div .topic-img {
  position: absolute;
  z-index: 1;
  height: 550px;
  bottom: -75px;
  left: 40px;
  display: none;
}
@media (min-width: 720px) {
  /* line 13, ../sass/partials/module/partials/_topic.scss */
  .topic-header-block > div .topic-img {
    display: block;
  }
}
/* line 24, ../sass/partials/module/partials/_topic.scss */
.topic-header-block > div header {
  position: absolute;
  z-index: 3;
  margin-top: 50px;
  width: 100%;
  text-align: center;
  color: white;
}
@media (min-width: 720px) {
  /* line 24, ../sass/partials/module/partials/_topic.scss */
  .topic-header-block > div header {
    margin-top: 70px;
  }
}
/* line 35, ../sass/partials/module/partials/_topic.scss */
.topic-header-block > div h1, .topic-header-block > div h2 {
  text-transform: uppercase;
  color: white;
  font-size: 2.875em;
  margin-bottom: 0;
}
@media (min-width: 480px) {
  /* line 35, ../sass/partials/module/partials/_topic.scss */
  .topic-header-block > div h1, .topic-header-block > div h2 {
    font-size: 4.25em;
  }
}
/* line 44, ../sass/partials/module/partials/_topic.scss */
.topic-header-block > div span {
  font-style: italic;
  font-size: 1.375em;
}
/* line 50, ../sass/partials/module/partials/_topic.scss */
.topic-header-block nav {
  position: relative;
  height: 75px;
  background-color: #deeced;
  display: none;
}
@media (min-width: 720px) {
  /* line 50, ../sass/partials/module/partials/_topic.scss */
  .topic-header-block nav {
    display: block;
  }
}
/* line 59, ../sass/partials/module/partials/_topic.scss */
.topic-header-block nav ul {
  margin-top: 25px;
}
/* line 61, ../sass/partials/module/partials/_topic.scss */
.topic-header-block nav ul li {
  display: block;
  float: left;
  width: 12.5%;
}
/* line 65, ../sass/partials/module/partials/_topic.scss */
.topic-header-block nav ul li a {
  display: block;
  border-left: 1px solid #ccc;
  text-align: center;
  height: 25px;
  font-size: 1em;
  line-height: 1.125em;
  overflow: visible;
  color: black;
  text-decoration: none;
}
/* line 76, ../sass/partials/module/partials/_topic.scss */
.topic-header-block nav ul li:first-child a {
  border-left: none;
}
/* line 79, ../sass/partials/module/partials/_topic.scss */
.topic-header-block nav ul li.active a, .topic-header-block nav ul li a:hover {
  color: #692f59;
  text-decoration: underline;
}

/* line 89, ../sass/partials/module/partials/_topic.scss */
.topic-header h2 {
  position: relative;
  padding: 40px 20px 20px;
  margin-bottom: 25px;
  border-bottom: 2px solid #ededed;
  text-align: center;
}
/* line 95, ../sass/partials/module/partials/_topic.scss */
.topic-header h2:after {
  display: none;
}
@media (min-width: 0) and (max-width: 719px) {
  /* line 89, ../sass/partials/module/partials/_topic.scss */
  .topic-header h2 {
    text-align: left;
    cursor: pointer;
    font-size: 1.25em;
    color: black;
    font-weight: 600;
    padding-top: 20px;
    margin-bottom: 0;
    border-bottom: none;
  }
  /* line 107, ../sass/partials/module/partials/_topic.scss */
  .topic-header h2:after {
    font-family: "forbrukerhjelpen" !important;
    content: "t";
    display: block;
    float: right;
    vertical-align: middle;
    font-size: 1.625em;
    padding-left: 15px;
    border-left: 1px solid #ccc;
    height: 35px;
    color: #d5d5d5;
  }
}

/* line 122, ../sass/partials/module/partials/_topic.scss */
.topic-footer {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  display: none;
}
/* line 126, ../sass/partials/module/partials/_topic.scss */
.topic-footer span {
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 0.875em;
}
/* line 131, ../sass/partials/module/partials/_topic.scss */
.topic-footer span img {
  vertical-align: middle;
  margin-right: 10px;
}
@media (min-width: 720px) {
  /* line 122, ../sass/partials/module/partials/_topic.scss */
  .topic-footer {
    display: block;
  }
}

/* line 141, ../sass/partials/module/partials/_topic.scss */
.topic-content {
  display: none;
}
/* line 142, ../sass/partials/module/partials/_topic.scss */
.topic-content img {
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 15px;
  display: none;
  float: left;
}
@media (min-width: 720px) {
  /* line 142, ../sass/partials/module/partials/_topic.scss */
  .topic-content img {
    display: block;
  }
}
@media (min-width: 960px) {
  /* line 142, ../sass/partials/module/partials/_topic.scss */
  .topic-content img {
    margin-left: 15px;
  }
}
/* line 155, ../sass/partials/module/partials/_topic.scss */
.topic-content > div {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 960px) {
  /* line 155, ../sass/partials/module/partials/_topic.scss */
  .topic-content > div {
    overflow: hidden;
  }
}
/* line 162, ../sass/partials/module/partials/_topic.scss */
.topic-content p {
  margin-bottom: 30px;
  color: #787878;
  font-size: 1em;
  line-height: 1.75em;
}

/* line 171, ../sass/partials/module/partials/_topic.scss */
.topic-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
/* line 175, ../sass/partials/module/partials/_topic.scss */
.topic-list li {
  list-style: none;
  border-bottom: 8px solid #ededed;
}
@media (min-width: 720px) {
  /* line 175, ../sass/partials/module/partials/_topic.scss */
  .topic-list li {
    border-bottom: 2px solid #ededed;
  }
}
@media (min-width: 0) and (max-width: 719px) {
  /* line 175, ../sass/partials/module/partials/_topic.scss */
  .topic-list li {
    display: block;
  }
  /* line 184, ../sass/partials/module/partials/_topic.scss */
  .topic-list li.open .topic-content {
    display: block;
  }
  /* line 187, ../sass/partials/module/partials/_topic.scss */
  .topic-list li.open header h2 {
    background-color: #deeced;
    color: #692f59;
  }
  /* line 190, ../sass/partials/module/partials/_topic.scss */
  .topic-list li.open header h2:after {
    content: "u";
  }
}
@media (min-width: 720px) {
  /* line 175, ../sass/partials/module/partials/_topic.scss */
  .topic-list li {
    display: none;
  }
  /* line 198, ../sass/partials/module/partials/_topic.scss */
  .topic-list li.active {
    display: block;
  }
  /* line 200, ../sass/partials/module/partials/_topic.scss */
  .topic-list li.active .topic-content {
    display: block;
  }
}

/* line 208, ../sass/partials/module/partials/_topic.scss */
.topic-infobox {
  background-color: #deeced;
  padding: 25px;
  text-align: center;
}
/* line 212, ../sass/partials/module/partials/_topic.scss */
.topic-infobox h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
@media (min-width: 720px) {
  /* line 208, ../sass/partials/module/partials/_topic.scss */
  .topic-infobox {
    display: none;
  }
}
