@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300,300italic");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:600,600italic,700,700italic");
/* line 36, ../../../.rvm/gems/ruby-1.9.3-p484/gems/toolkit-1.3.8/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('/css/../behaviors/box-sizing/boxsizing.php');
}

/* line 4, ../../../.rvm/gems/ruby-1.9.3-p484/gems/toolkit-1.3.8/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto;
}

/* line 8, ../sass/partials/base/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/partials/base/_base.scss */
html {
  background-color: white;
}

/* line 15, ../sass/partials/base/_base.scss */
body {
  color: black;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

/* line 22, ../sass/partials/base/_base.scss */
input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 30, ../sass/partials/base/_base.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 37, ../sass/partials/base/_base.scss */
button,
input {
  line-height: normal;
  text-transform: none;
}

/* line 45, ../sass/partials/base/_base.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 50, ../sass/partials/base/_base.scss */
input[type="search"] {
  -webkit-appearance: textfield;
}

/* line 55, ../sass/partials/base/_base.scss */
a img {
  border: none;
}

/* line 1, ../sass/partials/layout/_layout.scss */
body {
  margin: 0;
  padding: 0;
}
/* line 4, ../sass/partials/layout/_layout.scss */
body.login {
  background-color: #deeced;
}

/* line 9, ../sass/partials/layout/_layout.scss */
.l-container, .p-container, .s-container {
  position: relative;
  width: 100%;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

/* line 16, ../sass/partials/layout/_layout.scss */
.p-container {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 1200px) {
  /* line 16, ../sass/partials/layout/_layout.scss */
  .p-container {
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 24, ../sass/partials/layout/_layout.scss */
.s-container {
  max-width: 960px;
}

/* line 1, ../sass/partials/module/partials/_helpers.scss */
.clearfix, .header, .info-items, .loan-form-table, .slide-header-block .slide-nav, .login-block {
  *zoom: 1;
}
/* line 7, ../sass/partials/module/partials/_helpers.scss */
.clearfix:before, .header:before, .info-items:before, .loan-form-table:before, .slide-header-block .slide-nav:before, .login-block:before, .clearfix:after, .header:after, .info-items:after, .loan-form-table:after, .slide-header-block .slide-nav:after, .login-block:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 12, ../sass/partials/module/partials/_helpers.scss */
.clearfix:after, .header:after, .info-items:after, .loan-form-table:after, .slide-header-block .slide-nav:after, .login-block:after {
  clear: both;
}

/* line 17, ../sass/partials/module/partials/_helpers.scss */
.text-center {
  text-align: center;
}

/* line 1, ../sass/partials/module/partials/_typography.scss */
h1, h2 {
  font-size: 2.25em;
  font-weight: 300;
  color: #692f59;
  margin: 0 0 0.3em 0;
}

/* line 7, ../sass/partials/module/partials/_typography.scss */
h2 {
  font-size: 2em;
}

/* line 11, ../sass/partials/module/partials/_typography.scss */
h3 {
  font-size: 1.125em;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

/* line 17, ../sass/partials/module/partials/_typography.scss */
p {
  margin: 0 0 0.3em 0;
}

/* line 20, ../sass/partials/module/partials/_typography.scss */
a {
  color: #692f59;
}

/* line 1, ../sass/partials/module/partials/_buttons.scss */
.btn {
  font-weight: 400;
  font-style: italic;
}
/* line 4, ../sass/partials/module/partials/_buttons.scss */
.btn.btn-blue {
  font-size: 18px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF9FD8D8', endColorstr='#FF56BBBB');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9fd8d8), color-stop(70%, #92d2d2));
  background: -webkit-linear-gradient(#9fd8d8, #92d2d2 70%);
  background: -moz-linear-gradient(#9fd8d8, #92d2d2 70%);
  background: -o-linear-gradient(#9fd8d8, #92d2d2 70%);
  background: linear-gradient(#9fd8d8, #92d2d2 70%);
  -webkit-box-shadow: #d5eeee 0 1px 0 inset;
  -moz-box-shadow: #d5eeee 0 1px 0 inset;
  box-shadow: #d5eeee 0 1px 0 inset;
  border: 1px solid #80cbcb;
  color: black;
  border: 1px solid #5db3b3;
}
/* line 15, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn.btn-blue:hover {
  text-decoration: none;
}
/* line 18, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn.btn-blue:hover {
  background-color: #80cbcb;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #8dd1d1), color-stop(75%, #80cbcb));
  background: -webkit-linear-gradient(#8dd1d1 3%, #80cbcb 75%);
  background: -moz-linear-gradient(#8dd1d1 3%, #80cbcb 75%);
  background: -o-linear-gradient(#8dd1d1 3%, #80cbcb 75%);
  background: linear-gradient(#8dd1d1 3%, #80cbcb 75%);
}
/* line 21, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn.btn-blue:active {
  -webkit-box-shadow: #75c6c6 0 1px 2px inset;
  -moz-box-shadow: #75c6c6 0 1px 2px inset;
  box-shadow: #75c6c6 0 1px 2px inset;
}
/* line 6, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn.btn-blue.disabled, .btn.btn-blue[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #92d2d2;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.btn.btn-blue::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 7, ../sass/partials/module/partials/_buttons.scss */
.btn.btn-blue.btn-complex:before {
  border-color: #317a7a;
}
/* line 11, ../sass/partials/module/partials/_buttons.scss */
.btn.btn-purple {
  font-size: 18px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF754C6C', endColorstr='#FF372433');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #754c6c), color-stop(70%, #672a55));
  background: -webkit-linear-gradient(#754c6c, #672a55 70%);
  background: -moz-linear-gradient(#754c6c, #672a55 70%);
  background: -o-linear-gradient(#754c6c, #672a55 70%);
  background: linear-gradient(#754c6c, #672a55 70%);
  -webkit-box-shadow: #a06d95 0 1px 0 inset;
  -moz-box-shadow: #a06d95 0 1px 0 inset;
  box-shadow: #a06d95 0 1px 0 inset;
  border: 1px solid #552346;
  color: white;
  border: 1px solid #3a2a46;
}
/* line 15, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn.btn-purple:hover {
  text-decoration: none;
}
/* line 18, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn.btn-purple:hover {
  background-color: #552346;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #66425e), color-stop(75%, #552346));
  background: -webkit-linear-gradient(#66425e 3%, #552346 75%);
  background: -moz-linear-gradient(#66425e 3%, #552346 75%);
  background: -o-linear-gradient(#66425e 3%, #552346 75%);
  background: linear-gradient(#66425e 3%, #552346 75%);
}
/* line 21, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn.btn-purple:active {
  -webkit-box-shadow: #4a1e3d 0 1px 2px inset;
  -moz-box-shadow: #4a1e3d 0 1px 2px inset;
  box-shadow: #4a1e3d 0 1px 2px inset;
}
/* line 6, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn.btn-purple.disabled, .btn.btn-purple[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #672a55;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../.rvm/gems/ruby-1.9.3-p484/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.btn.btn-purple::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 14, ../sass/partials/module/partials/_buttons.scss */
.btn.btn-purple.btn-complex:before {
  border-color: #d3bacd;
}
/* line 19, ../sass/partials/module/partials/_buttons.scss */
.btn.btn-complex {
  position: relative;
  width: 100%;
  padding: 15px 60px 15px 10px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
}
/* line 28, ../sass/partials/module/partials/_buttons.scss */
.btn.btn-complex:before {
  display: block;
  position: absolute;
  z-index: 2;
  right: 0;
  font-family: "forbrukerhjelpen" !important;
  content: "k";
  font-size: 20px;
  font-style: normal;
  vertical-align: middle;
  border-left-width: 1px;
  border-left-style: solid;
  margin-top: 4px;
  margin-left: 35px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 0) and (max-width: 959px) {
  /* line 46, ../sass/partials/module/partials/_buttons.scss */
  .btn.btn-complex.btn-resp {
    padding-right: 10px;
  }
  /* line 49, ../sass/partials/module/partials/_buttons.scss */
  .btn.btn-complex.btn-resp:before {
    display: none;
  }
}

/* line 1, ../sass/partials/module/partials/_header.scss */
.header {
  background-color: white;
}
/* line 4, ../sass/partials/module/partials/_header.scss */
.header > div {
  margin-top: 35px;
  margin-bottom: 30px;
}

/* line 10, ../sass/partials/module/partials/_header.scss */
.main-logo {
  display: block;
  width: 190px;
  height: 28px;
  background-size: 190px 28px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../img/logo.png);
}
@media only screen and (min-device-pixel-ratio: 1.5) {
  /* line 10, ../sass/partials/module/partials/_header.scss */
  .main-logo {
    background-image: url(../img/logo-2x.png);
  }
}

/* line 23, ../sass/partials/module/partials/_header.scss */
.light-blue-block {
  background-color: #deeced;
}

/* line 26, ../sass/partials/module/partials/_header.scss */
.dark-blue-block {
  background-color: #92d2d2;
}

/* line 29, ../sass/partials/module/partials/_header.scss */
.grey-block {
  background-color: #c9c5c2;
}

@media (min-width: 0) and (max-width: 719px) {
  /* line 3, ../sass/partials/module/partials/_menu.scss */
  .main-menu {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    height: 1200px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: none;
  }
  /* line 12, ../sass/partials/module/partials/_menu.scss */
  .main-menu ul {
    list-style: none;
    padding: 0px;
    margin: -0px;
  }
  /* line 16, ../sass/partials/module/partials/_menu.scss */
  .main-menu ul li {
    display: block;
    border-top: 1px solid #7b4970;
    background-color: #692f59;
  }
  /* line 20, ../sass/partials/module/partials/_menu.scss */
  .main-menu ul li.muted {
    display: none;
  }
  /* line 23, ../sass/partials/module/partials/_menu.scss */
  .main-menu ul li a {
    display: block;
    padding: 30px;
    font-size: 1.25em;
    color: #fff;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: right 60px center;
    background-size: 65px 54px;
  }
  /* line 30, ../sass/partials/module/partials/_menu.scss */
  .main-menu ul li a:after {
    display: block;
    float: right;
    vertical-align: middle;
    font-family: "forbrukerhjelpen" !important;
    content: "v";
    margin-top: -5px;
    margin-right: -10px;
    font-size: 1.625em;
    color: #7b4970;
  }

  /* line 49, ../sass/partials/module/partials/_menu.scss */
  .menu-open .main-menu {
    display: block;
  }

  /* line 52, ../sass/partials/module/partials/_menu.scss */
  .footer .main-menu {
    display: none;
  }
}
@media (min-width: 720px) {
  /* line 58, ../sass/partials/module/partials/_menu.scss */
  .main-menu {
    float: right;
    z-index: 2;
    right: 0;
  }
  /* line 62, ../sass/partials/module/partials/_menu.scss */
  .main-menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  /* line 66, ../sass/partials/module/partials/_menu.scss */
  .main-menu ul li {
    display: block;
    float: left;
  }
  /* line 69, ../sass/partials/module/partials/_menu.scss */
  .main-menu ul li a {
    position: relative;
    display: inline-block;
    width: 100px;
    text-decoration: none;
    color: black;
    font-size: 0.875em;
    line-height: 1.1em;
    text-align: center;
  }
  /* line 80, ../sass/partials/module/partials/_menu.scss */
  .main-menu ul li.active a, .main-menu ul li a:hover {
    color: #692f59;
    text-decoration: underline;
  }
  /* line 84, ../sass/partials/module/partials/_menu.scss */
  .main-menu ul li .sub-menu {
    position: absolute;
    z-index: 9;
    display: none;
  }
  /* line 88, ../sass/partials/module/partials/_menu.scss */
  .main-menu ul li .sub-menu li {
    float: none;
    padding: 4px 0px 2px;
  }
  /* line 91, ../sass/partials/module/partials/_menu.scss */
  .main-menu ul li .sub-menu li a {
    padding-top: 0;
    background: none;
  }
  /* line 97, ../sass/partials/module/partials/_menu.scss */
  .main-menu ul li:hover .sub-menu {
    display: block;
  }
  /* line 102, ../sass/partials/module/partials/_menu.scss */
  .main-menu.with-icons {
    margin-top: -20px;
  }
  /* line 105, ../sass/partials/module/partials/_menu.scss */
  .main-menu.with-icons li a {
    padding-top: 36px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 32px 32px;
  }
  /* line 111, ../sass/partials/module/partials/_menu.scss */
  .main-menu.with-icons li .sub-menu a {
    padding-top: 0;
    background: none;
  }
}
/* line 120, ../sass/partials/module/partials/_menu.scss */
.menu-toggle {
  float: right;
  border: 2px solid #ccc;
  padding: 6px 6px;
  width: 93px;
  border-radius: 3px;
  margin-top: -6px;
  display: block;
}
@media (min-width: 720px) {
  /* line 120, ../sass/partials/module/partials/_menu.scss */
  .menu-toggle {
    display: none;
  }
}
/* line 132, ../sass/partials/module/partials/_menu.scss */
.menu-toggle > span {
  display: block;
  float: left;
  text-transform: uppercase;
  color: #bbb;
  font-size: 0.6875em;
  font-weight: bold;
  padding: 5px 0;
  height: 25px;
}
/* line 142, ../sass/partials/module/partials/_menu.scss */
.menu-toggle > div {
  display: block;
  float: right;
  border-left: 1px solid #ccc;
  padding-left: 8px;
}
/* line 147, ../sass/partials/module/partials/_menu.scss */
.menu-toggle > div span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #ccc;
  margin-top: 3px;
}
/* line 153, ../sass/partials/module/partials/_menu.scss */
.menu-toggle > div span:first-child {
  margin-top: 0;
}

/* line 160, ../sass/partials/module/partials/_menu.scss */
.menu-open .menu-toggle {
  border-color: #692f59;
}
/* line 162, ../sass/partials/module/partials/_menu.scss */
.menu-open .menu-toggle > span {
  color: #692f59;
}
/* line 165, ../sass/partials/module/partials/_menu.scss */
.menu-open .menu-toggle > div span {
  background-color: #692f59;
}

/* line 171, ../sass/partials/module/partials/_menu.scss */
.menu-icon-laneguiden a {
  background-image: url(../img/menu-icon-1.png);
}

/* line 174, ../sass/partials/module/partials/_menu.scss */
.menu-icon-banker a {
  background-image: url(../img/menu-icon-2.png);
}

/* line 177, ../sass/partials/module/partials/_menu.scss */
.menu-icon-lanevelgeren a {
  background-image: url(../img/menu-icon-3.png);
}

/* line 3, ../sass/partials/module/partials/_hero.scss */
.frontpage-header-block {
  position: relative;
}
@media (min-width: 960px) {
  /* line 5, ../sass/partials/module/partials/_hero.scss */
  .frontpage-header-block .form-block {
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 440px;
  }
}

/* line 16, ../sass/partials/module/partials/_hero.scss */
.hero {
  position: relative;
  overflow: hidden;
  background-image: url(../img/home-women-bg.png);
  background-repeat: no-repeat;
  background-position: bottom 100px right 0;
  background-size: 60% auto;
}
@media (min-width: 480px) {
  /* line 16, ../sass/partials/module/partials/_hero.scss */
  .hero {
    background-position: top 30px right 0;
  }
}
@media (min-width: 720px) {
  /* line 16, ../sass/partials/module/partials/_hero.scss */
  .hero {
    height: 425px;
    background-position: top 0 right 0;
    background-size: 450px 425px;
  }
}
@media (min-width: 960px) {
  /* line 16, ../sass/partials/module/partials/_hero.scss */
  .hero {
    height: 650px;
    background-position: right 0;
    background-position: top 0 right 0;
    background-size: 689px 650px;
  }
}
/* line 39, ../sass/partials/module/partials/_hero.scss */
.hero .teaser {
  position: relative;
  padding-top: 40px;
  z-index: 2;
}
@media (min-width: 720px) {
  /* line 39, ../sass/partials/module/partials/_hero.scss */
  .hero .teaser {
    max-width: 50%;
    padding-top: 55px;
  }
}
@media (min-width: 960px) {
  /* line 39, ../sass/partials/module/partials/_hero.scss */
  .hero .teaser {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
/* line 53, ../sass/partials/module/partials/_hero.scss */
.hero .teaser h1, .hero .teaser h2 {
  font-size: 2em !important;
}
@media (min-width: 960px) {
  /* line 53, ../sass/partials/module/partials/_hero.scss */
  .hero .teaser h1, .hero .teaser h2 {
    font-size: 2.25em !important;
  }
}
/* line 59, ../sass/partials/module/partials/_hero.scss */
.hero .teaser ul {
  padding-left: 0;
}
/* line 61, ../sass/partials/module/partials/_hero.scss */
.hero .teaser ul li {
  list-style: none;
  font-size: 1.125em;
  width: 50%;
}
@media (min-width: 720px) {
  /* line 61, ../sass/partials/module/partials/_hero.scss */
  .hero .teaser ul li {
    width: auto;
  }
}
@media (min-width: 960px) {
  /* line 61, ../sass/partials/module/partials/_hero.scss */
  .hero .teaser ul li {
    font-size: 1.375em;
  }
}
/* line 71, ../sass/partials/module/partials/_hero.scss */
.hero .teaser ul li:before {
  display: inline-block;
  width: 30px;
  content: "g";
  font-family: "forbrukerhjelpen";
  font-size: 0.875em;
}
/* line 80, ../sass/partials/module/partials/_hero.scss */
.hero .teaser p {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 0.875em;
  margin-bottom: 0;
  padding-top: 10px;
  height: 100px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}
@media (min-width: 720px) {
  /* line 80, ../sass/partials/module/partials/_hero.scss */
  .hero .teaser p {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    height: auto;
    text-align: left;
    background: none;
  }
}
/* line 96, ../sass/partials/module/partials/_hero.scss */
.hero .teaser p span {
  font-weight: 600;
  font-size: 1.57143em;
  color: #692f59;
}

@media (min-width: 0) and (max-width: 959px) {
  /* line 2, ../sass/partials/module/partials/_content.scss */
  .visible-desktop {
    display: none !important;
  }
}

@media (min-width: 960px) {
  /* line 7, ../sass/partials/module/partials/_content.scss */
  .hidden-desktop {
    display: none !important;
  }
}

/* line 14, ../sass/partials/module/partials/_content.scss */
.content-block header h2 {
  text-align: center;
  padding: 40px 20px 10px;
}
@media (min-width: 0) and (max-width: 719px) {
  /* line 14, ../sass/partials/module/partials/_content.scss */
  .content-block header h2 {
    text-align: left;
    cursor: pointer;
    font-size: 1.25em;
    color: black;
    font-weight: 600;
    margin-bottom: 0;
    padding: 20px 64px 20px 20px;
    font-size: 1.1em;
    position: relative;
  }
}

/* line 33, ../sass/partials/module/partials/_content.scss */
.info-items {
  border-bottom: 8px solid #ededed;
}
@media (min-width: 720px) {
  /* line 33, ../sass/partials/module/partials/_content.scss */
  .info-items {
    padding-top: 20px;
    padding-bottom: 40px;
    border-bottom: 2px solid #ededed;
  }
}
@media (min-width: 0) and (max-width: 719px) {
  /* line 44, ../sass/partials/module/partials/_content.scss */
  .info-items header h2:before {
    font-family: "forbrukerhjelpen" !important;
    content: "p";
    vertical-align: middle;
    margin-right: 15px;
    margin-left: -20px;
    color: #d5d5d5;
  }
}
@media (min-width: 720px) {
  /* line 54, ../sass/partials/module/partials/_content.scss */
  .info-items header h2:before {
    content: "";
    width: 130px;
    height: 20px;
    background: url(../img/info-item-left.png) center left no-repeat;
    display: inline-block;
  }
  /* line 61, ../sass/partials/module/partials/_content.scss */
  .info-items header h2:after {
    content: "";
    width: 130px;
    height: 20px;
    background: url(../img/info-item-right.png) center right no-repeat;
    display: inline-block;
  }
}
/* line 72, ../sass/partials/module/partials/_content.scss */
.info-items .info-item {
  margin-bottom: 25px;
  min-height: 105px;
  display: none;
}
@media (min-width: 720px) {
  /* line 72, ../sass/partials/module/partials/_content.scss */
  .info-items .info-item {
    display: block;
    margin-bottom: 10px;
  }
}
/* line 80, ../sass/partials/module/partials/_content.scss */
.info-items .info-item p {
  margin-top: 20px;
  color: #787878;
  font-size: 1.125em;
}
/* line 85, ../sass/partials/module/partials/_content.scss */
.info-items .info-item p.recommend {
  color: black;
}
@media (min-width: 320px) and (max-width: 959px) {
  /* line 90, ../sass/partials/module/partials/_content.scss */
  .info-items .info-item img {
    float: left;
    margin: 0 15px 0 0;
  }
}
@media (min-width: 960px) {
  /* line 72, ../sass/partials/module/partials/_content.scss */
  .info-items .info-item {
    width: 29.41176%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 5.88235%;
    text-align: center;
  }
  /* line 97, ../sass/partials/module/partials/_content.scss */
  .info-items .info-item:nth-of-type(3n) {
    margin-right: 0;
  }
  /* line 101, ../sass/partials/module/partials/_content.scss */
  .info-items .info-item img {
    margin-bottom: 24px;
  }
}
@media (min-width: 0) and (max-width: 719px) {
  /* line 108, ../sass/partials/module/partials/_content.scss */
  .info-items .open .info-item {
    display: block;
  }
  /* line 111, ../sass/partials/module/partials/_content.scss */
  .info-items .open h2:before {
    content: "q";
  }
}

/* line 1, ../sass/partials/module/partials/_footer.scss */
.footer {
  position: relative;
}
@media (min-width: 720px) {
  /* line 1, ../sass/partials/module/partials/_footer.scss */
  .footer {
    border-top: 10px solid #92d2d2;
    background-color: #deeced;
  }
}
/* line 7, ../sass/partials/module/partials/_footer.scss */
.footer .menu-block {
  height: 40px;
  padding-top: 12px;
  display: none;
}
@media (min-width: 720px) {
  /* line 7, ../sass/partials/module/partials/_footer.scss */
  .footer .menu-block {
    display: block;
  }
}
/* line 16, ../sass/partials/module/partials/_footer.scss */
.footer .padded-block {
  border-top: 1px solid #92d2d2;
}
/* line 18, ../sass/partials/module/partials/_footer.scss */
.footer .padded-block > div {
  position: relative;
  padding-top: 100px;
  padding-bottom: 30px;
}
@media (min-width: 720px) {
  /* line 16, ../sass/partials/module/partials/_footer.scss */
  .footer .padded-block {
    border-bottom: 1px solid #92d2d2;
    margin-bottom: 54px;
  }
  /* line 26, ../sass/partials/module/partials/_footer.scss */
  .footer .padded-block > div {
    padding-bottom: 50px;
  }
}
/* line 31, ../sass/partials/module/partials/_footer.scss */
.footer .main-logo {
  float: left;
  margin-top: 25px;
}
@media (min-width: 720px) {
  /* line 31, ../sass/partials/module/partials/_footer.scss */
  .footer .main-logo {
    margin-top: 0;
  }
}
/* line 38, ../sass/partials/module/partials/_footer.scss */
.footer .contact {
  float: right;
  text-align: right;
  font-size: 1.125em;
  display: none;
}
@media (min-width: 720px) {
  /* line 38, ../sass/partials/module/partials/_footer.scss */
  .footer .contact {
    display: block;
  }
}
/* line 47, ../sass/partials/module/partials/_footer.scss */
.footer .copyright {
  position: absolute;
  top: 30px;
  font-size: 1em;
  color: #898989;
}
@media (min-width: 720px) {
  /* line 47, ../sass/partials/module/partials/_footer.scss */
  .footer .copyright {
    top: auto;
    bottom: -55px;
    font-size: 0.875em;
  }
}

/* line 2, ../sass/partials/module/partials/_forms.scss */
.arrow-box {
  position: relative;
  height: 50px;
  padding: 12px 15px;
  margin-bottom: 10px;
  color: #fff;
  background-color: #242d2d;
  font-size: 18px;
  text-align: center;
}
/* line 11, ../sass/partials/module/partials/_forms.scss */
.arrow-box:after {
  position: absolute;
  pointer-events: none;
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  border-top-color: #242d2d;
  border-width: 10px;
  margin-left: -10px;
}

/* line 26, ../sass/partials/module/partials/_forms.scss */
.input-block {
  height: 58px;
  padding: 12px 10px 12px 10px;
  margin-bottom: 10px;
  background-color: #fff;
}
/* line 31, ../sass/partials/module/partials/_forms.scss */
.input-block i {
  position: absolute;
  font-size: 30px;
}
/* line 35, ../sass/partials/module/partials/_forms.scss */
.input-block input[type="text"], .input-block input[type="password"] {
  width: 100%;
  padding: 5px 0 5px 38px;
  border: none;
  background: none;
}
/* line 40, ../sass/partials/module/partials/_forms.scss */
.input-block input[type="text"]:focus, .input-block input[type="password"]:focus {
  outline: none;
}

/* line 46, ../sass/partials/module/partials/_forms.scss */
.input-block-error {
  background-color: #ffe1e1;
}

/* line 51, ../sass/partials/module/partials/_forms.scss */
.form-block .arrow-box {
  position: absolute;
  z-index: 4;
  top: -50px;
  left: 90%;
  width: 90%;
  margin-left: -85%;
}
@media (min-width: 720px) {
  /* line 51, ../sass/partials/module/partials/_forms.scss */
  .form-block .arrow-box {
    float: left;
    width: auto;
    left: auto;
    margin-left: 0;
  }
}
/* line 65, ../sass/partials/module/partials/_forms.scss */
.form-block .extra-info {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  padding-top: 5px;
  background-color: #deeced;
  font-size: 0.875em;
}
@media (min-width: 960px) {
  /* line 65, ../sass/partials/module/partials/_forms.scss */
  .form-block .extra-info {
    position: absolute;
    bottom: -50px;
    background: none;
  }
}

/* line 79, ../sass/partials/module/partials/_forms.scss */
.subscribe-form {
  padding-top: 25px;
  padding-bottom: 15px;
}
/* line 82, ../sass/partials/module/partials/_forms.scss */
.subscribe-form div {
  position: relative;
  margin-bottom: 5px;
}
@media (min-width: 720px) {
  /* line 82, ../sass/partials/module/partials/_forms.scss */
  .subscribe-form div {
    float: left;
    height: 58px;
    width: 31%;
    margin-right: 2%;
    margin-bottom: 10px;
  }
}
@media (min-width: 960px) {
  /* line 82, ../sass/partials/module/partials/_forms.scss */
  .subscribe-form div {
    width: 23%;
    margin-right: 2%;
  }
}
@media (min-width: 1160px) {
  /* line 82, ../sass/partials/module/partials/_forms.scss */
  .subscribe-form div {
    width: 20%;
    margin-right: 2%;
  }
}
/* line 100, ../sass/partials/module/partials/_forms.scss */
.subscribe-form div.large {
  margin-right: 0;
  height: 121px;
}
@media (min-width: 960px) {
  /* line 100, ../sass/partials/module/partials/_forms.scss */
  .subscribe-form div.large {
    width: 50%;
    height: 58px;
  }
}
@media (min-width: 1160px) {
  /* line 100, ../sass/partials/module/partials/_forms.scss */
  .subscribe-form div.large {
    width: 40%;
  }
}
/* line 110, ../sass/partials/module/partials/_forms.scss */
.subscribe-form div.large div {
  margin-bottom: 5px;
}
@media (min-width: 720px) {
  /* line 110, ../sass/partials/module/partials/_forms.scss */
  .subscribe-form div.large div {
    width: 95%;
    margin-right: 5%;
  }
}
@media (min-width: 960px) {
  /* line 110, ../sass/partials/module/partials/_forms.scss */
  .subscribe-form div.large div {
    width: 47%;
    margin-right: 3%;
    margin-bottom: 10px;
  }
}
/* line 124, ../sass/partials/module/partials/_forms.scss */
.subscribe-form input[type="checkbox"] {
  display: none;
}
/* line 126, ../sass/partials/module/partials/_forms.scss */
.subscribe-form input[type="checkbox"] + label:before {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 5px;
  line-height: 30px;
  text-align: center;
  background-color: #fff;
  font-size: 26px;
  font-family: "forbrukerhjelpen";
  content: " ";
}
/* line 140, ../sass/partials/module/partials/_forms.scss */
.subscribe-form input[type="checkbox"]:checked + label:before {
  content: "g";
}
/* line 144, ../sass/partials/module/partials/_forms.scss */
.subscribe-form label {
  display: block;
  font-size: 0.875em;
  cursor: pointer;
}

/* line 152, ../sass/partials/module/partials/_forms.scss */
form.styled input[type="checkbox"], form.styled input[type="radio"] {
  display: none;
}
/* line 154, ../sass/partials/module/partials/_forms.scss */
form.styled input[type="checkbox"] + label, form.styled input[type="radio"] + label {
  display: inline-block;
  cursor: pointer;
  margin-right: 15px;
}
/* line 158, ../sass/partials/module/partials/_forms.scss */
form.styled input[type="checkbox"] + label:before, form.styled input[type="radio"] + label:before {
  display: block;
  float: left;
  margin-top: 1px;
  margin-right: 5px;
  font-size: 21px;
  font-family: "forbrukerhjelpen";
}
/* line 169, ../sass/partials/module/partials/_forms.scss */
form.styled input[type="checkbox"] + label:before {
  content: "l";
}
/* line 172, ../sass/partials/module/partials/_forms.scss */
form.styled input[type="checkbox"]:checked + label:before {
  content: "m";
}
/* line 177, ../sass/partials/module/partials/_forms.scss */
form.styled input[type="radio"] + label:before {
  content: "n";
}
/* line 180, ../sass/partials/module/partials/_forms.scss */
form.styled input[type="radio"]:checked + label:before {
  content: "o";
}

@media (min-width: 720px) {
  /* line 187, ../sass/partials/module/partials/_forms.scss */
  .loan-form-table {
    border-bottom: 1px solid #d5d5d5;
  }
}
@media (min-width: 720px) {
  /* line 193, ../sass/partials/module/partials/_forms.scss */
  .loan-form-table > div {
    float: left;
    width: 25%;
  }
}
@media (min-width: 960px) {
  /* line 193, ../sass/partials/module/partials/_forms.scss */
  .loan-form-table > div {
    width: 20%;
  }
  /* line 200, ../sass/partials/module/partials/_forms.scss */
  .loan-form-table > div.double {
    width: 40%;
  }
}
/* line 204, ../sass/partials/module/partials/_forms.scss */
.loan-form-table > div div {
  padding: 12px 0 12px 12px;
  font-size: 1.0625em;
}
/* line 208, ../sass/partials/module/partials/_forms.scss */
.loan-form-table > div .input-group {
  padding: 0px;
}
@media (min-width: 0) and (max-width: 479px) {
  /* line 208, ../sass/partials/module/partials/_forms.scss */
  .loan-form-table > div .input-group {
    font-size: 0.8125em;
    padding: 1px 0;
  }
}
@media (min-width: 960px) {
  /* line 215, ../sass/partials/module/partials/_forms.scss */
  .loan-form-table > div.double .input-group {
    width: 50%;
    float: left;
  }
}
@media (min-width: 0) and (max-width: 719px) {
  /* line 215, ../sass/partials/module/partials/_forms.scss */
  .loan-form-table > div.double .input-group {
    width: 50%;
    float: left;
  }
}
/* line 226, ../sass/partials/module/partials/_forms.scss */
.loan-form-table header {
  padding: 12px;
  background-color: #ededed;
  border-left: 1px solid #d5d5d5;
  color: #692f59;
  font-size: 1em;
  font-weight: 600;
}
@media (min-width: 720px) {
  /* line 226, ../sass/partials/module/partials/_forms.scss */
  .loan-form-table header {
    font-size: 0.875em;
    font-weight: 300;
    text-transform: uppercase;
  }
}

/* line 3, ../sass/partials/module/partials/_tables.scss */
table {
  width: 100%;
  border-spacing: 0px;
}
/* line 7, ../sass/partials/module/partials/_tables.scss */
table thead th, table thead td, table tfoot th, table tfoot td {
  padding: 12px;
  background-color: #ededed;
}
/* line 11, ../sass/partials/module/partials/_tables.scss */
table thead th, table tfoot th {
  font-size: 0.75em;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
  border-left: 1px solid #d5d5d5;
}
/* line 17, ../sass/partials/module/partials/_tables.scss */
table thead th:first-child, table tfoot th:first-child {
  border-left: none;
}
/* line 21, ../sass/partials/module/partials/_tables.scss */
table thead td, table tfoot td {
  font-size: 0.875em;
  text-align: center;
}
/* line 25, ../sass/partials/module/partials/_tables.scss */
table thead .spacer td, table tfoot .spacer td {
  background: none;
  padding: 5px;
}
/* line 31, ../sass/partials/module/partials/_tables.scss */
table tbody td {
  position: relative;
  text-align: left;
  border-bottom: 1px solid #d5d5d5;
  padding: 12px;
  font-size: 1.125em;
}
@media (min-width: 0) and (max-width: 719px) {
  /* line 31, ../sass/partials/module/partials/_tables.scss */
  table tbody td {
    padding: 8px;
    font-size: 0.9375em;
  }
  /* line 42, ../sass/partials/module/partials/_tables.scss */
  table tbody td.overflow {
    width: 28%;
    max-width: 28%;
    overflow: hidden;
  }
  /* line 46, ../sass/partials/module/partials/_tables.scss */
  table tbody td.overflow img {
    width: auto;
    max-width: auto;
    height: 100%;
    margin: auto;
  }
}
@media (min-width: 0) and (max-width: 959px) {
  /* line 58, ../sass/partials/module/partials/_tables.scss */
  table tbody td.overlay img {
    position: absolute;
    z-index: 10;
    top: 7px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 30px;
  }
}
/* line 69, ../sass/partials/module/partials/_tables.scss */
table tbody td strong {
  font-weight: 600;
  color: #692f59;
}
/* line 73, ../sass/partials/module/partials/_tables.scss */
table tbody td small {
  font-size: 0.7em;
  color: #787878;
}

/* line 2, ../sass/partials/module/partials/_slides.scss */
.slide-header-block {
  position: relative;
}
/* line 5, ../sass/partials/module/partials/_slides.scss */
.slide-header-block > div {
  position: relative;
  overflow: hidden;
  height: 260px;
}
@media (min-width: 480px) {
  /* line 5, ../sass/partials/module/partials/_slides.scss */
  .slide-header-block > div {
    height: 345px;
  }
}
/* line 12, ../sass/partials/module/partials/_slides.scss */
.slide-header-block > div .back-img {
  position: absolute;
  z-index: 1;
  height: 100%;
  top: 0;
  display: none;
}
/* line 18, ../sass/partials/module/partials/_slides.scss */
.slide-header-block > div .back-img.right {
  right: 0;
}
@media (min-width: 720px) {
  /* line 12, ../sass/partials/module/partials/_slides.scss */
  .slide-header-block > div .back-img {
    display: block;
  }
}
/* line 25, ../sass/partials/module/partials/_slides.scss */
.slide-header-block > div header {
  position: absolute;
  z-index: 3;
  margin-top: 50px;
  width: 100%;
  text-align: center;
  color: white;
}
@media (min-width: 720px) {
  /* line 25, ../sass/partials/module/partials/_slides.scss */
  .slide-header-block > div header {
    margin-top: 70px;
  }
}
/* line 36, ../sass/partials/module/partials/_slides.scss */
.slide-header-block > div h1, .slide-header-block > div h2 {
  text-transform: uppercase;
  color: white;
  font-size: 2.625em;
  margin-bottom: 0;
}
@media (min-width: 480px) {
  /* line 36, ../sass/partials/module/partials/_slides.scss */
  .slide-header-block > div h1, .slide-header-block > div h2 {
    font-size: 4.25em;
  }
}
/* line 45, ../sass/partials/module/partials/_slides.scss */
.slide-header-block > div h2 {
  text-transform: uppercase;
  color: white;
  font-size: 2.25em;
  line-height: 1.2em;
  margin-bottom: 0;
}
@media (min-width: 480px) {
  /* line 45, ../sass/partials/module/partials/_slides.scss */
  .slide-header-block > div h2 {
    font-size: 3.375em;
    margin-bottom: 0.2em;
  }
}
/* line 56, ../sass/partials/module/partials/_slides.scss */
.slide-header-block > div span {
  font-style: italic;
  font-size: 1.375em;
}
/* line 62, ../sass/partials/module/partials/_slides.scss */
.slide-header-block .slide-nav {
  position: relative;
  height: 75px;
  display: none;
}
@media (min-width: 720px) {
  /* line 62, ../sass/partials/module/partials/_slides.scss */
  .slide-header-block .slide-nav {
    display: block;
  }
}
/* line 70, ../sass/partials/module/partials/_slides.scss */
.slide-header-block .slide-nav ul {
  margin-top: 25px;
}
/* line 72, ../sass/partials/module/partials/_slides.scss */
.slide-header-block .slide-nav ul li {
  display: block;
  float: left;
  width: 12.5%;
}
/* line 76, ../sass/partials/module/partials/_slides.scss */
.slide-header-block .slide-nav ul li a {
  display: block;
  border-left: 1px solid #ccc;
  text-align: center;
  height: 25px;
  font-size: 1em;
  line-height: 1.125em;
  overflow: visible;
  color: black;
  text-decoration: none;
}
/* line 87, ../sass/partials/module/partials/_slides.scss */
.slide-header-block .slide-nav ul li:first-child a {
  border-left: none;
}
/* line 90, ../sass/partials/module/partials/_slides.scss */
.slide-header-block .slide-nav ul li.active a, .slide-header-block .slide-nav ul li a:hover {
  color: #692f59;
  text-decoration: underline;
}

/* line 99, ../sass/partials/module/partials/_slides.scss */
.slide-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
/* line 103, ../sass/partials/module/partials/_slides.scss */
.slide-list .content-block {
  list-style: none;
}
/* line 105, ../sass/partials/module/partials/_slides.scss */
.slide-list .content-block .slide-content {
  display: none;
}
@media (min-width: 0) and (max-width: 719px) {
  /* line 103, ../sass/partials/module/partials/_slides.scss */
  .slide-list .content-block {
    display: block;
    border-bottom: 8px solid #ededed;
  }
  /* line 111, ../sass/partials/module/partials/_slides.scss */
  .slide-list .content-block header h2:after {
    font-family: "forbrukerhjelpen" !important;
    content: "t";
    display: block;
    vertical-align: middle;
    font-size: 1.625em;
    padding-left: 15px;
    border-left: 1px solid #d5d5d5;
    color: #d5d5d5;
    position: absolute;
    top: 25%;
    right: 15px;
  }
  /* line 127, ../sass/partials/module/partials/_slides.scss */
  .slide-list .content-block.open .slide-content {
    display: block;
  }
  /* line 130, ../sass/partials/module/partials/_slides.scss */
  .slide-list .content-block.open header h2 {
    background-color: #deeced;
  }
  /* line 132, ../sass/partials/module/partials/_slides.scss */
  .slide-list .content-block.open header h2:after {
    content: "u";
  }
}
@media (min-width: 720px) {
  /* line 103, ../sass/partials/module/partials/_slides.scss */
  .slide-list .content-block {
    display: none;
  }
  /* line 140, ../sass/partials/module/partials/_slides.scss */
  .slide-list .content-block.active {
    display: block;
  }
  /* line 142, ../sass/partials/module/partials/_slides.scss */
  .slide-list .content-block.active .slide-content {
    display: block;
  }
}

@media (min-width: 720px) {
  /* line 3, ../sass/partials/module/partials/_topic.scss */
  .topic-list .content-block {
    border-bottom: 2px solid #ededed;
  }
}
@media (min-width: 720px) {
  /* line 8, ../sass/partials/module/partials/_topic.scss */
  .topic-list header {
    border-bottom: 2px solid #ededed;
  }
}
/* line 14, ../sass/partials/module/partials/_topic.scss */
.topic-list .slide-content img {
  float: left;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 15px;
  display: none;
}
@media (min-width: 720px) {
  /* line 14, ../sass/partials/module/partials/_topic.scss */
  .topic-list .slide-content img {
    display: block;
  }
}
@media (min-width: 960px) {
  /* line 14, ../sass/partials/module/partials/_topic.scss */
  .topic-list .slide-content img {
    margin-left: 15px;
  }
}
/* line 27, ../sass/partials/module/partials/_topic.scss */
.topic-list .slide-content > div {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 960px) {
  /* line 27, ../sass/partials/module/partials/_topic.scss */
  .topic-list .slide-content > div {
    overflow: hidden;
  }
}
/* line 34, ../sass/partials/module/partials/_topic.scss */
.topic-list .slide-content p {
  margin-bottom: 30px;
  color: #787878;
  font-size: 1em;
  line-height: 1.75em;
}

/* line 43, ../sass/partials/module/partials/_topic.scss */
.topic-footer {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  display: none;
}
/* line 47, ../sass/partials/module/partials/_topic.scss */
.topic-footer span {
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 0.875em;
}
/* line 52, ../sass/partials/module/partials/_topic.scss */
.topic-footer span img {
  vertical-align: middle;
  margin-right: 10px;
}
@media (min-width: 720px) {
  /* line 43, ../sass/partials/module/partials/_topic.scss */
  .topic-footer {
    display: block;
  }
}

/* line 63, ../sass/partials/module/partials/_topic.scss */
.topic-infobox {
  background-color: #deeced;
  padding: 25px;
  text-align: center;
}
/* line 67, ../sass/partials/module/partials/_topic.scss */
.topic-infobox h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
@media (min-width: 720px) {
  /* line 63, ../sass/partials/module/partials/_topic.scss */
  .topic-infobox {
    display: none;
  }
}

@media (min-width: 720px) {
  /* line 77, ../sass/partials/module/partials/_topic.scss */
  .campaign-list {
    padding-bottom: 50px;
  }
}
@media (min-width: 0) and (max-width: 719px) {
  /* line 82, ../sass/partials/module/partials/_topic.scss */
  .campaign-list thead, .campaign-list tfoot {
    display: none;
  }
}

/* line 88, ../sass/partials/module/partials/_topic.scss */
.comparison-list {
  position: relative;
}
/* line 90, ../sass/partials/module/partials/_topic.scss */
.comparison-list button {
  width: 100%;
}
/* line 93, ../sass/partials/module/partials/_topic.scss */
.comparison-list td:last-child {
  vertical-align: top;
}
@media (min-width: 0) and (max-width: 959px) {
  /* line 93, ../sass/partials/module/partials/_topic.scss */
  .comparison-list td:last-child {
    padding-top: 26px;
  }
}
@media (min-width: 960px) {
  /* line 100, ../sass/partials/module/partials/_topic.scss */
  .comparison-list li {
    float: left;
    width: 48.5%;
    margin-right: 3%;
  }
  /* line 104, ../sass/partials/module/partials/_topic.scss */
  .comparison-list li:nth-of-type(2n) {
    margin-right: 0;
  }
  /* line 108, ../sass/partials/module/partials/_topic.scss */
  .comparison-list td:first-child {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 0) and (max-width: 719px) {
  /* line 117, ../sass/partials/module/partials/_topic.scss */
  .loans-block > header {
    display: none;
  }
}

/* line 123, ../sass/partials/module/partials/_topic.scss */
.loans-footer {
  margin-bottom: 40px;
  text-align: center;
}
/* line 126, ../sass/partials/module/partials/_topic.scss */
.loans-footer button, .loans-footer strong, .loans-footer a, .loans-footer span {
  display: block;
}
/* line 129, ../sass/partials/module/partials/_topic.scss */
.loans-footer strong {
  padding: 12px;
  color: #692f59;
  font-weight: 600;
}
@media (min-width: 0) and (max-width: 719px) {
  /* line 129, ../sass/partials/module/partials/_topic.scss */
  .loans-footer strong {
    font-size: 1em;
    background-color: #ededed;
    text-align: left;
  }
}
@media (min-width: 720px) {
  /* line 129, ../sass/partials/module/partials/_topic.scss */
  .loans-footer strong {
    padding-top: 20px;
    padding-bottom: 0px;
    font-size: 1.125em;
    color: #692f59;
  }
}
/* line 145, ../sass/partials/module/partials/_topic.scss */
.loans-footer div {
  padding: 12px;
}
@media (min-width: 0) and (max-width: 719px) {
  /* line 145, ../sass/partials/module/partials/_topic.scss */
  .loans-footer div {
    text-align: left;
    font-size: 0.875em;
  }
}
@media (min-width: 720px) {
  /* line 145, ../sass/partials/module/partials/_topic.scss */
  .loans-footer div {
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 20px;
  }
}
/* line 156, ../sass/partials/module/partials/_topic.scss */
.loans-footer a {
  margin-top: 25px;
  font-size: 0.875em;
}
@media (min-width: 0) and (max-width: 719px) {
  /* line 156, ../sass/partials/module/partials/_topic.scss */
  .loans-footer a {
    display: none;
  }
}
/* line 163, ../sass/partials/module/partials/_topic.scss */
.loans-footer button {
  width: auto !important;
  padding-left: 25px !important;
  padding-right: 75px !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
@media (min-width: 720px) {
  /* line 163, ../sass/partials/module/partials/_topic.scss */
  .loans-footer button {
    margin-top: 30px;
  }
}

/* line 175, ../sass/partials/module/partials/_topic.scss */
.loans-results-placeholder {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
  color: #d5d5d5;
}
@media (min-width: 0) and (max-width: 719px) {
  /* line 175, ../sass/partials/module/partials/_topic.scss */
  .loans-results-placeholder {
    display: none;
  }
}

/* line 184, ../sass/partials/module/partials/_topic.scss */
.loans-results {
  margin-bottom: 50px;
}

/* line 1, ../sass/partials/module/partials/_login.scss */
.login-page {
  background-color: #deeced;
}

/* line 5, ../sass/partials/module/partials/_login.scss */
.login-block {
  padding-bottom: 20px;
}
@media (min-width: 960px) {
  /* line 5, ../sass/partials/module/partials/_login.scss */
  .login-block {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}
/* line 12, ../sass/partials/module/partials/_login.scss */
.login-block .content {
  background-color: #fff;
}
@media (min-width: 960px) {
  /* line 12, ../sass/partials/module/partials/_login.scss */
  .login-block .content {
    padding: 20px;
    -webkit-box-shadow: 4px 4px 20px 1px #ccc;
    box-shadow: 4px 4px 20px 1px #ccc;
  }
}
/* line 19, ../sass/partials/module/partials/_login.scss */
.login-block .content > div {
  position: relative;
  overflow: hidden;
  height: 530px;
  background: #a7d9da;
}
@media (min-width: 720px) {
  /* line 19, ../sass/partials/module/partials/_login.scss */
  .login-block .content > div {
    height: 400px;
  }
}
/* line 28, ../sass/partials/module/partials/_login.scss */
.login-block .content header {
  position: absolute;
  z-index: 2;
  text-align: center;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 10px;
  background-color: #92d2d2;
}
@media (min-width: 720px) {
  /* line 28, ../sass/partials/module/partials/_login.scss */
  .login-block .content header {
    width: 50%;
    height: 530px;
    padding-top: 85px;
    background-image: url(../img/home-women-bg.png);
    background-repeat: no-repeat;
    background-size: 482px 455px;
    background-position: left -215px top -45px;
  }
}
/* line 46, ../sass/partials/module/partials/_login.scss */
.login-block .content header h1, .login-block .content header h2 {
  text-transform: uppercase;
  color: #fff;
  font-size: 2.625em;
}
@media (min-width: 720px) {
  /* line 46, ../sass/partials/module/partials/_login.scss */
  .login-block .content header h1, .login-block .content header h2 {
    font-size: 3.5em;
  }
}
/* line 55, ../sass/partials/module/partials/_login.scss */
.login-block .content form {
  position: absolute;
  z-index: 3;
  top: 220px;
  left: 50%;
  width: 90%;
  margin-left: -45%;
}
@media (min-width: 720px) {
  /* line 55, ../sass/partials/module/partials/_login.scss */
  .login-block .content form {
    top: 70px;
    left: 75%;
    width: 280px;
    margin-left: -140px;
  }
}
/* line 68, ../sass/partials/module/partials/_login.scss */
.login-block .content form span {
  display: block;
  margin-top: 10px;
  text-align: right;
  font-size: 0.875em;
}
/* line 73, ../sass/partials/module/partials/_login.scss */
.login-block .content form span i {
  vertical-align: middle;
}
/* line 79, ../sass/partials/module/partials/_login.scss */
.login-block .copyright, .login-block .help {
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 20px;
  font-size: 0.875em;
  text-align: center;
  color: #787878;
}
@media (min-width: 960px) {
  /* line 79, ../sass/partials/module/partials/_login.scss */
  .login-block .copyright, .login-block .help {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (min-width: 720px) {
  /* line 92, ../sass/partials/module/partials/_login.scss */
  .login-block .copyright {
    float: left;
  }
  /* line 95, ../sass/partials/module/partials/_login.scss */
  .login-block .help {
    float: right;
  }
}
