
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>

 (function () {

  /* Menu */
   $('a.menu-toggle').click(function () {
    $('body').toggleClass('menu-open');
  });

  /* Article items */
  $('.info-items header').click(function () {
    $(this).parent().toggleClass('open');
  });


  /* Topics */
  $('.slide-list li header').click(function () {
    var isOpen = $(this).parent().hasClass('open');
    $('.slide-list li').removeClass('open');
    if(!isOpen) {
      $(this).parent().addClass('open');
    }
  });

  window.fhSlides = {
    active: 0,
    count: 8,
    next: function () {
      this.show((this.active+1)%this.count);
    },
    prev: function () {
      this.show((this.active-1+this.count)%this.count);
    },
    show: function (index) {
      // console.log(index);
      this.active = index;

      $('.slide-list li').removeClass('active');
      if(index < 0) {
        $('.slide-list li').addClass('active');
      }
      else {
        $('.slide-list li[slideid="' + index + '"]').addClass('active');
      }

      $('nav.slide-nav li').removeClass('active');
      $('nav.slide-nav li[slideid="' + index + '"]').addClass('active');
    }
  };

})();

</script>
