
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="js/vendor/jquery-placeholder/jquery.placeholder.js"></script>
<script>
(function () {

  // Custom equalheights function.
  $.fn.equalize = function() {
    var maxHeight = 0;

    return this.each(function() {
        var $this = $(this);
        if ($this.height() > maxHeight) { maxHeight = $this.height(); }
    }).height(maxHeight);
  };

  /* Slide Menu */
  $('#s2On').click(function() {
    if($(this).is(':checked')) {
      $('.slide-nav').show();
    }
  });

  $('#s2Off').click(function() {
    if($(this).is(':checked')) {
      $('.slide-nav').hide();
    }
  });

  $('a.bank-menu-toggle.campaigns').click(function () {
    if ($('.slide-nav').is(':visible')) {
      $('.slide-nav').hide();
    }
    else {
      $('.slide-nav').show();
    }
  });

  /* Menu */
   $('a.menu-toggle').click(function () {
    $('body').toggleClass('menu-open');
  });

  /* Article items */
  $('.info-items header').click(function () {
    $(this).parent().toggleClass('open');
  });

  /* Slides */

  var fhSlides = {
    active: 0,
    count: 8,
    next: function () {
      this.show((this.active+1)%this.count);
    },
    prev: function () {
      this.show((this.active-1+this.count)%this.count);
    },
    show: function (index) {
      // console.log(index);
      this.active = index;

      $('.slide-list li').removeClass('active');
      if(index < 0) {
        $('.slide-list li').addClass('active');
      }
      else {
        $('.slide-list li[slideid="' + index + '"]').addClass('active');
      }

      $('nav.slide-nav li').removeClass('active');
      $('nav.slide-nav li[slideid="' + index + '"]').addClass('active');
    }
  };

  $('.slide-nav li a').click(function (e){
    e.preventDefault();
    fhSlides.show( +$(this).parent().attr('slideid') );
  });
  $('.btn.prev-slide').click(function () {
    fhSlides.prev();
  });
  $('.btn.next-slide').click(function () {
    fhSlides.next();
  });
  $('.slide-list li header').click(function () {
    var isOpen = $(this).parent().hasClass('open');
    $('.slide-list li').removeClass('open');
    if(!isOpen) {
      $(this).parent().addClass('open');
    }
  });

  // jQuery placeholder
  $('input, textarea').placeholder();

  // Banks Listing equalize height
  $('.banks-list li').equalize();



})();
</script>
