body {
  margin: 0;
  padding: 0;
  &.login {
    background-color: $color-blue-light;
  }
}

.l-container, .p-container, .s-container {
  position: relative;
  width: 100%;
  max-width: $break-large;
  margin-left: auto;
  margin-right: auto;
}
.p-container {
  padding-left: 20px;
  padding-right: 20px;
  @include breakpoint($break-large + 40px) {
    padding-left: 0;
    padding-right: 0;
  }
}
.s-container {
  max-width: $break-medium;
}
