@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder { // Firefox 18-
    @content;
  }
  &::-moz-placeholder {  // Firefox 19+
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin extrude-pad {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}

@mixin extrude-clear {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
