// IE Support
$legacy-support-for-ie:  true;
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;

// Breakpoints
$breakpoints-to-ems: true;

$breakpoint-mobile-portrait:  320px;
$breakpoint-mobile-landscape: 480px;
$breakpoint-tablet-portrait:  720px;
$breakpoint-tablet-landscape: 960px;
$breakpoint-desktop:          1160px;
$breakpoint-desktop-wide:     1280px;

$break-min:    $breakpoint-mobile-portrait;
$break-xsmall: $breakpoint-mobile-landscape;
$break-small:  $breakpoint-tablet-portrait;
$break-medium: $breakpoint-tablet-landscape;
$break-large:  $breakpoint-desktop;

// Grid Settings
$grids: 12;
$gutters: 2;

// Typography
$base-font-size: 14px;
