// Variables
// Font families
$font-family-text: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

// Site background
$color-webpage-bg: #ffffff;

// Colors
$color-text-dark: #000000;
$color-text-light: #ffffff;
$color-purple: #692f59;
$color-purple-light: #7b4970;
$color-blue: #92d2d2;
$color-blue-light: #deeced;
$color-blue-dark: #242d2d;
$color-grey: #d5d5d5;
$color-grey-dark: #787878;
$color-grey-light: #ededed;

