.banks-list {
  @include breakpoint($break-small) {
    padding-bottom: 50px;
  }
  @include breakpoint(0 ($break-small - 1px)) {
    thead, tfoot {
      display: none;
    }
    padding-right: 0;
  }

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  tbody {
    td.overflow {
      img {
        width: auto;
        height: auto;
        max-width: 100%;
      }
    }
  }

  .content-block {
    list-style: none;
    @include breakpoint(0 ($break-small - 1px)) {
      height: auto !important;
    }
    .slide-content {
      display: none;
    }
    @include breakpoint(0 ($break-small - 1px)) {
      display: block;
      border-bottom: 8px solid $color-grey-light;
      .slide-content {
        display: none;
      }
      & {
        .slide-content {
          display: block;
        }
        header h2 {
          background-color: $color-blue-light;
          &:after {
            content: "";
          }
        }
      }
    }
    @include breakpoint($break-small) {
      display: none;
      height: auto;
      &.active {
        display: block;
        .slide-content {
          display: block;
        }
      }

      tbody {
        td.overflow {
          img {
            width: auto;
            height: auto;
            max-width: 100%;
          }
        }
      }
    }

    @include breakpoint($break-large) {
      float: left;
      max-width: 50%;
      &:nth-child(odd) {
        clear: both;
      }


      table {
        width: 100%;
        border-spacing: 0px;
        padding: 5px;
        thead, tfoot {
          margin: 10px;
          th, td {
            padding: 5px;
            background-color: $color-grey-light;
          }
          th {
            font-size: em(12,16);
            font-weight: 300;
            text-align: left;
            text-transform: uppercase;
            border-left: 1px solid $color-grey;
            &:first-child {
              border-left: none;
            }
          }
          td {
            font-size: em(12,16);
            text-align: center;
          }
          .spacer td {
            background: none;
            padding: 5px;
          }
        }
        tbody {
          td {
            position: relative;
            text-align: left;
            border-bottom: 1px solid $color-grey;
            padding: 5px;
            font-size: em(14,16);

            &.overflow {
              img {
                width: 100% !important;
                height: auto !important;
                max-width: 100% !important;
              }
            }

            strong {
              font-weight: 600;
              color: $color-purple;
            }
            small {
              font-size: 0.7em;
              color: $color-grey-dark;
            }
          }
        }
      }

    }
  }
}



