.btn {
	font-weight: 400;
	font-style: italic;
  text-decoration: none;
	&.btn-blue {
		@include sassy-button("matte", 0, 18px, #9fd8d8, #92d2d2, $color-text-dark, "false");
		border: 1px solid #5db3b3;
    &.btn-complex:before {
      border-color: darken(#9fd8d8, 40);
    }
	}
	&.btn-purple {
		@include sassy-button("matte", 0, 18px, #754c6c, #672a55, $color-text-light, "false");
		border: 1px solid #3a2a46;
    &.btn-complex:before {
      border-color: lighten(#754c6c, 40);
    }
	}

	&.btn-complex {
    position: relative;
    width: 100%;
    padding: 15px 60px 15px 10px;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;

    &:before {
      display: block;
      position: absolute;
      z-index: 2;
      right: 0;

      font-family: "forbrukerhjelpen" !important;
      content: "k";
      font-size: 20px;
      font-style: normal;
      vertical-align: middle;
      border-left-width: 1px;
      border-left-style: solid;
      margin-top: 4px;
      margin-left: 35px;
      padding-left: 15px;
      padding-right: 15px;
    }
    &.btn-resp {
      @include breakpoint(0 ($break-medium - 1px)) {
        padding-right: 10px;
        &:before {
          display: none;
        }
      }
    }
  }

  &.btn-icon {
    width: 100%;
    font-weight: 100;
    padding: 15px;
  }
}
