
// Information items
.info-items {
	@extend .clearfix;
	@include breakpoint($break-small) {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	@include breakpoint($break-medium) {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	header {
		padding-top: 20px;
		padding-bottom: 20px;

		h2 {
			margin-bottom: 25px;
			@include breakpoint(0 ($break-small - 1px)) {
				cursor: pointer;
				font-size: em(22,16);
				color: $color-text-dark;
				font-weight: 600;
				margin-bottom: 0;
			}
			i {
				vertical-align: middle;
				margin-right: 15px;
				color: $color-grey;
				@include breakpoint($break-small) {
					display: none;
				}
			}
			@include breakpoint($break-small) {
				&:before {
					content: "";
					width: 130px;
					height: 20px;
					background: url(../img/info-item-left.png) center left no-repeat;
					display: inline-block;
				}
				&:after {
					content: "";
					width: 130px;
					height: 20px;
					background: url(../img/info-item-right.png) center right no-repeat;
					display: inline-block;
				}
			}
		}
		@include breakpoint($break-medium) {
			text-align: center;
		}
	}
	.info-item {
		margin-bottom: 25px;
		min-height: 105px;
		display: none;
		@include breakpoint($break-small) {
			display: block;
			margin-bottom: 10px;
		}

		p {
			margin-top: 20px;
			color: $color-grey-dark;
			font-size: em(18,16);
			// word-break: break-all;

			&.recommend {
				color: $color-text-dark;
			}
		}

		@include breakpoint($break-min ($break-medium - 1px)) {
			img {
				float: left;
				margin: 0 15px 0 0;
			}
		}

		@include breakpoint($break-medium) {
			@include float-span(4);
      &:nth-of-type(3n) {
        margin-right: 0;
      }
			text-align: center;
			img {
				margin-bottom: 24px;
			}
		}
	}
	@include breakpoint(0 ($break-small - 1px)) {
		.icon-minus {
			display: none;
		}
		&.open {
			.info-item {
				display: block;
			}
			.icon-plus {
				display: none;
			}
			.icon-minus {
				display: inline;
			}
		}
	}
}

hr {
  color: $color-grey-light;
	background-color: $color-grey-light;
	margin: 0 !important;
	border: none !important;
	height: 8px;
	@include breakpoint($break-small) {
		height: 2px;
	}
}

// Tables
table {
	width: 100%;
	border-spacing: 0px;
	thead {
		background-color: $color-grey-light;
		th {
			padding: 12px;
			border-right: 1px solid $color-grey;
			font-size: em(12,16);
			font-weight: 300;
			text-transform: uppercase;
			text-align: left;
		}
	}
	tbody {
		td {
			padding: 12px;
			font-size: em(18,16);
			text-align: left;

			&.value {
				font-weight: 600;
				color: $color-purple;
			}
		}
	}
}
