.light-blue-block {
	background-color: $color-blue-light;
}

// Hero unit
.hero {
	// big hero unit image
	img {
		position: absolute;
		height: 100%;
		right: 0;
		bottom: 0;
		z-index: 1;
	}
	// teaser text
	.teaser {
		position: relative;
		max-width: 580px;
		padding: 70px 0;
		z-index: 2;
		ul {
			padding-left: 26px;
			li {
				font-size: em(22,16);
			}
		}
		p {
			font-size: em(14,16);
			span {
				font-weight: 600;
				font-size: em(22,14);
				color: $color-purple;
			}
		}
	}
}

// Information items
.info-items {
	@extend .clearfix;
	header {
		margin: 0 0 1em 0;
		.item-title-left, .item-title-right {
			position: relative;
			display: inline-block;
			min-width: 83px;
			min-height: 6px;
			img {
				position: absolute;
				bottom: 5px;
			}
		}
		.item-title-left {
			margin-right: 50px;
			img {
				left: 0;
			}
		}					
		.item-title-right {
			margin-left: 50px;
			img {
				right: 0;
			}
		}
		.item-title {
			display: inline-block;
			margin-top: 5px;
		}

		@include breakpoint($break-medium) {
			text-align: center;
		}		
	}
	.info-item {
		margin-bottom: 10px;
		min-height: 105px;

		p {
			color: $color-grey-dark;
		}

		@include breakpoint($break-min $break-medium) {
			img {
				float: left;
				margin: 0 15px 0 0;
			}
		}

		@include breakpoint($break-medium) {
			@include grid-span(4);
			margin-right: 12px;
			text-align: center;
			img {
				margin-bottom: 24px;
			}
		}
	}
}

// Tables
table {
	width: 100%;
	border-spacing: 0px;
	thead {
		background-color: $color-grey-light;
		th {
			padding: 12px;
			border-right: 1px solid $color-grey;
			font-size: em(12,16);
			font-weight: 300;
			text-transform: uppercase;
			text-align: left;
		}
	}
	tbody {
		td {
			padding: 12px;
			font-size: em(18,16);
			text-align: left;

			&.value {
				font-weight: 600;
				color: $color-purple;
			}
		}
	}
}
