.footer {
  position: relative;
  @include breakpoint($break-small) {
    border-top: 10px solid $color-blue;
    background-color: $color-blue-light;
  }
  .menu-block {
    height: 40px;
    padding-top: 12px;
    display: none;
    @include breakpoint($break-small) {
      display: block;
    }
  }

  .padded-block {
    border-top: 1px solid $color-blue;
    &> div {
      position: relative;
      padding-top: 100px;
      padding-bottom: 30px;
    }
    @include breakpoint($break-small) {
      border-bottom: 1px solid $color-blue;
      margin-bottom: 54px;
      &> div {
        padding-bottom: 50px;
      }
    }
  }
  .main-logo {
    float: left;
    margin-top: 25px;
    @include breakpoint($break-small) {
      margin-top: 0;
    }
  }
  .contact {
    float: right;
    text-align: right;
    font-size: em(18,16);
    display: none;
    @include breakpoint($break-small) {
      display: block;
    }
  }
  .copyright {
    position: absolute;
    top: 30px;
    font-size: em(16,16);
    color: darken($color-grey,30);
    @include breakpoint($break-small) {
      top: auto;
      bottom: -55px;
      font-size: em(14,16);
    }
  }
}
