
.arrow-box {
  position: relative;
  height: 50px;
  padding: 12px 15px;
  margin-bottom: 10px;
  color: #fff;
  background-color: #242d2d;
  font-size: 18px;
  text-align: center;
  &:after {
    position: absolute;
    pointer-events: none;
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    border-top-color: #242d2d;
    border-width: 10px;
    margin-left: -10px;
  }
}

.input-block {
  height: 58px;
  padding: 12px 10px 12px 10px;
  margin-bottom: 10px;
  background-color: #fff;
  i {
    position: absolute;
    font-size: 30px;
  }
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 5px 0 5px 38px;
    border: none;
    background: none;
    &:focus {
      outline: none;
    }
  }
}

.form-block {
  .arrow-box {
    position: absolute;
    z-index: 4;
    top: -50px;
    left: 90%;
    width: 90%;
    margin-left: -85%;
    @include breakpoint($break-small) {
      float: left;
      width: auto;
      left: auto;
      margin-left: 0;
    }
  }
  .extra-info {
    @include extrude-pad;
    height: 50px;
    padding-top: 5px;
    background-color: $color-blue-light;
    font-size: em(14,16);
    @include breakpoint($break-medium) {
      position: absolute;
      bottom: -50px;
      background: none;
    }
  }
}

.subscribe-form {
  padding-top: 25px;
  padding-bottom: 15px;
  div {
    position: relative;
    margin-bottom: 5px;
    @include breakpoint($break-small) {
      float: left;
      height: 58px;
      width: 31%;
      margin-right: 2%;
      margin-bottom: 10px;
    }
    @include breakpoint($break-medium) {
      width: 23%;
      margin-right: 2%;
    }
    @include breakpoint($break-large) {
      width: 20%;
      margin-right: 2%;
    }
    &.large {
      margin-right: 0;
      height: 121px;
      @include breakpoint($break-medium) {
        width: 50%;
        height: 58px;
      }
      @include breakpoint($break-large) {
        width: 40%;
      }
      div {
        margin-bottom: 5px;
        @include breakpoint($break-small) {
          width: 95%;
          margin-right: 5%;
        }
        @include breakpoint($break-medium) {
          width: 47%;
          margin-right: 3%;
          margin-bottom: 10px;
        }
      }
    }
    &.small {
      float: left;
      background-color: #fff;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      margin-bottom: 0;
    }
  }
  input[type="checkbox"] {
    visibility: hidden;
    display: block;
    margin: 2px 3px;
    cursor: pointer;
    &:before {
      visibility: visible;
      font-family: "forbrukerhjelpen";
      content: "g";
      font-size: 26px;
      opacity: 0.07;
    }
    &:checked:before {
      opacity: 1.0;
    }
  }
  label {
    display: block;
    overflow: hidden;
    font-size: em(14,16);
    cursor: pointer;
  }
}

form.styled {
  input[type="checkbox"], input[type="radio"] {
    display: inline-block;
    visibility: hidden;
    cursor: pointer;
    &:before {
      visibility: visible;
      display: block;
      float: left;
      margin-top: -5px;
      font-size: 20px;
      font-family: "forbrukerhjelpen";
    }
  }
  input[type="checkbox"] {
    &:before {
      content: "l";
    }
    &:checked:before {
      content: "m";
    }
  }
  input[type="radio"] {
    &:before {
      content: "n";
    }
    &:checked:before {
      content: "o";
    }
  }
  input[type="checkbox"] + label, input[type="radio"] + label {
    display: inline-block;
    cursor: pointer;
    padding-left: 5px;
    margin-right: 15px;
  }
}


.loan-form-table {
  @extend .clearfix;
  @include breakpoint($break-small) {
    border-bottom: 1px solid #d5d5d5;
  }

  &>div {
    @include breakpoint($break-small) {
      float: left;
      width: 25%;
    }
    @include breakpoint($break-medium) {
      width: 20%;
      &.double {
        width: 40%;
      }
    }
    div {
      padding: 12px;
      font-size: em(16,16);
      @include breakpoint($break-medium) {
        font-size: em(18,16);
      }
    }
    .radio-group {
      padding: 0px 0;
      @include breakpoint($break-medium) {
        width: 50%;
        float: left;
      }
      @include breakpoint(0 ($break-small - 1px)) {
        font-size: em(14,16);
        width: 50%;
        float: left;
      }
    }
  }
  header {
    padding: 12px;
    background-color: $color-grey-light;
    border-left: 1px solid $color-grey;
    color: $color-purple;
    font-size: em(16,16);
    font-weight: 600;
    @include breakpoint($break-small) {
      font-size: em(14,16);
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}
