.dark-blue-block {
  .arrow-box {
    position: absolute;
    top: -50px;
    height: 50px;
    padding: 12px 15px;
    color: #fff;
    background-color: #242d2d;
    font-size: 18px;

    &:after {
      position: absolute;
      pointer-events: none;
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      border-top-color: #242d2d;
      border-width: 10px;
      margin-left: -10px;
    }
  }
  .extra-info {
    position: absolute;
    bottom: -40px;
    font-size: em(14,16);
  }
}


.subscribe-form {
  padding: 25px 0;

  & > div {
    position: relative;
    float: left;
    height: 58px;
    width: 30%;
    @include breakpoint($break-medium) {
      width: 24%;
    }
    @include breakpoint($break-large) {
      width: 20%;
    }
    margin-right: 10px;

    &.light {
      padding: 12px 10px;
      background-color: #fff;
      i {
        position: absolute;
        font-size: 30px;
      }
    }
    &.dark {
      width: 28%;
      @include breakpoint($break-medium) {
        width: 18%;
      }
      @include breakpoint($break-large) {
        width: 16%;
      }
      font-size: em(14,16);
      margin-right: 20px;
    }
    &.small {
      padding: 0;
      width: 30px;
      height: 30px;
    }
  }

  input[type="text"] {
    border: none;
    margin: 5px 0 0 36px;
    width: 180px;
    background: none;
    &:focus {
      outline: none;
    }
  }

  input[type="checkbox"] {
    visibility: hidden;
    margin: 2px 0 0 3px;
    display: block;
    &:before {
      visibility: visible;
      content: "g";
      font-family: "forbrukerhjelpen";
      display: inline-block;
      font-size: 26px;
      width: 100px;
      opacity: 0.08;
      cursor: pointer;
    }
    &:checked:before {
      opacity: 1.0;
    }
  }
  label {
    cursor: pointer;
  }

  button {
    padding-right: 16px !important;
    span {
      display: inline-block;
      border-right: 1px solid lighten(#672a55, 46);
      margin: 5px 8px;
      padding-right: 30px;
      font-weight: normal;
      font-size: em(17,16);
      -webkit-font-smoothing: antialiased;
    }
    i {
      line-height: 20px;
      vertical-align: middle;
    }
  }
}
