.header {
  @extend .clearfix;
  background-color: $color-webpage-bg;
  &>div {
    margin-top: 35px;
    margin-bottom: 30px;

    @include breakpoint(max-width $break-xsmall) {
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }
}

.main-logo {
  display: block;
  width: 190px;
  height: 28px;
  background-size: 190px 28px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../img/logo.png);
  @media only screen and (min-device-pixel-ratio: 1.5) {
    background-image: url(../img/logo-2x.png);
  }

  @include breakpoint(max-width $break-xsmall) {
    width: 150px;
    @include background-size(100%);
  }
}

.light-blue-block {
  background-color: $color-blue-light;
}
.dark-blue-block {
  background-color: $color-blue;
}
.grey-block {
  background-color: #c9c5c2;
}
