

.frontpage-header-block {
  position: relative;
  .form-block {
    @include breakpoint($break-medium) {
      width: 100%;
      position: absolute;
      z-index: 10;
      top: 440px;
    }
  }
}

// Hero unit
.hero {
  // big hero unit image
  position: relative;
  overflow: hidden;
  @include breakpoint($break-small) {
    height: 425px;
  }
  @include breakpoint($break-medium) {
    height: 650px;
  }

  img {
    position: absolute;
    z-index: 1;
    right: 0;
    width: 60%;
    bottom: 100px;
    @include breakpoint($break-xsmall) {
      top: 30px;
      bottom: auto;
    }
    @include breakpoint($break-small) {
      width: auto;
      height: 425px;
      top: 0;
    }
    @include breakpoint($break-medium) {
      height: 650px;
      top: auto;
      bottom: 0;
    }
  }

  // teaser text
  .teaser {
    position: relative;
    padding-top: 40px;
    z-index: 2;

    @include breakpoint($break-small) {
      max-width: 50%;
      padding-top: 55px;
    }
    @include breakpoint($break-medium) {
      padding-top: 70px;
      padding-bottom: 70px;
    }

    h1 {
      font-size: em(32,16) !important;
      @include breakpoint($break-medium) {
        font-size: em(36,16) !important;
      }
    }
    ul {
      padding-left: 0;
      li {
        list-style: none;
        font-size: em(18,16);
        width: 50%;
        @include breakpoint($break-small) {
          width: auto;
        }
        @include breakpoint($break-medium) {
          font-size: em(22,16);
        }
        &:before {
          display: inline-block;
          width: 30px;
          content: "g";
          font-family: "forbrukerhjelpen";
          font-size: em(14,16);
        }
      }
    }
    p {
      @include extrude-pad;
      font-size: em(14,16);
      margin-bottom: 0;
      padding-top: 10px;
      height: 100px;
      text-align: center;
      background-color: rgba(255,255,255,0.8);

      @include breakpoint($break-small) {
        @include extrude-clear;
        padding-top: 0;
        height: auto;
        text-align: left;
        background: none;
      }
      span {
        font-weight: 600;
        font-size: em(22,14);
        color: $color-purple;
      }
    }
  }
}
