
.login-block {
  @extend .clearfix;
  padding-bottom: 20px;
  @include breakpoint($break-medium) {
    padding-top: 140px;
    padding-bottom: 140px;
  }
  .content {
    background-color: #fff;
    @include breakpoint($break-medium) {
      padding: 20px;
      -webkit-box-shadow: 4px 4px 20px 1px #ccc;
      box-shadow: 4px 4px 20px 1px #ccc;
    }
    &>div {
      position: relative;
      overflow: hidden;
      height: 530px;
      background: $color-blue-medium;
      @include breakpoint($break-small) {
        height: 400px;
      }
    }
    header {
      position: absolute;
      z-index: 2;
      text-align: center;
      width: 100%;
      padding-top: 40px;
      padding-bottom: 10px;
      background-color: $color-blue;

      @include breakpoint($break-small) {
        width: 50%;
        height: 530px;
        padding-top: 85px;
        background-image: url(../img/home-women-bg.png);
        background-repeat: no-repeat;
        background-size: 482px 455px;
        background-position: left -215px top -45px;
      }
      h1 {
        text-transform: uppercase;
        color: #fff;
        font-size: em(42,16);
        @include breakpoint($break-small) {
          font-size: em(56,16);
        }
      }
    }
    form {
      position: absolute;
      z-index: 3;
      top: 220px;
      left: 50%;
      width: 90%;
      margin-left: -45%;
      @include breakpoint($break-small) {
        top: 70px;
        left: 75%;
        width: 280px;
        margin-left: -140px;
      }
      span {
        display: block;
        margin-top: 10px;
        text-align: right;
        font-size: em(14,16);
        i {
          vertical-align: middle;
        }
      }
    }
  }
  .copyright, .help {
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 20px;
    font-size: em(14,16);
    text-align: center;
    color: $color-grey-dark;
    @include breakpoint($break-medium) {
      padding-right: 0px;
      padding-left: 0px;
    }
  }
  @include breakpoint($break-small) {
    .copyright {
      float: left;
    }
    .help {
      float: right;
    }
  }
}
