
@include breakpoint(0 ($break-small - 1px)) {
	.main-menu {
		position: absolute;
		top: 64px;
		left: 0;
		width: 100%;
		height: 1200px;
		background: rgba(0,0,0,0.8);
		z-index: 100;
		display: none;
		ul {
			list-style: none;
			padding: 0px;
			margin: -0px;
			li {
				border-top: 1px solid $color-purple-light;
				background-color: $color-purple;
				display: none;
				&.mobile {
					display: block;
					a {
						display: block;
						padding: 30px;
						font-size: em(20,16);
						color: #fff;
						text-decoration: none;

						&:after {
							display: block;
							float: right;
							vertical-align: middle;
		        	font-family: "forbrukerhjelpen" !important;
		        	content: "v";
							margin-top: -5px;
							font-size: em(26,16);
							color: $color-purple-light;
						}
						background-repeat: no-repeat;
						background-position: right 80px center;
					}
					&:nth-child(1) a {
						background-image: url(../img/menu-icon-1.png);
					}
					&:nth-child(2) a {
						background-image: url(../img/menu-icon-2.png);
					}
					&:nth-child(3)  a{
						background-image: url(../img/menu-icon-3.png);
					}
				}
			}
		}
	}
	.menu-open .main-menu {
		display: block;
	}
	.footer .main-menu {
		display: none;
	}
}

@include breakpoint($break-small) {
	.main-menu {
		float: right;
		margin: 5px 0 0;
		ul {
			list-style: none;
			padding: 0px;
			margin: 0px;
			li {
				display: block;
				float: left;
				padding: 0px 8px;
				a {
					text-decoration: none;
					color: $color-text-dark;
					font-size: em(14,16);
				}
				&.mobile img, &.mobile i{
					display: none;
				}
				.submenu {
					position: absolute;
					z-index: 9;
					display: none;
					li {
						float: none;
						padding: 4px 0px 2px;
					}
				}
				&:hover .submenu {
					display: block;
				}
			}
		}

	}
}

.menu-toggle {
	float: right;
	border: 2px solid #ccc;
	padding: 6px 6px;
	width: 93px;
	border-radius: 3px;
	margin-top: -6px;
	display: block;
	@include breakpoint($break-small) {
		display: none;
	}

	&> span {
		display: block;
		float: left;
		text-transform: uppercase;
		color: #bbb;
		font-size: em(11,16);
		font-weight: bold;
		padding: 5px 0;
		height: 25px;
	}
	&> div {
		display: block;
		float: right;
		border-left: 1px solid #ccc;
		padding-left: 8px;
		span {
			display: block;
			width: 30px;
			height: 4px;
			background-color: #ccc;
			margin-top: 3px;
			&:first-child {
				margin-top: 0;
			}
		}
	}
}

.menu-toggle:hover, .menu-open .menu-toggle {
	border-color: $color-purple;
	&> span {
		color: $color-purple
	}
	&> div span {
		background-color: $color-purple;
	}
}
