
// Tables
table {
  width: 100%;
  border-spacing: 0px;
  thead, tfoot {
    th, td {
      padding: 12px;
      background-color: $color-grey-light;
    }
    th {
      font-size: em(12,16);
      font-weight: 300;
      text-align: left;
      text-transform: uppercase;
      border-left: 1px solid $color-grey;
      &:first-child {
        border-left: none;
      }
    }
    td {
      font-size: em(14,16);
      text-align: center;
    }
    .spacer td {
      background: none;
      padding: 5px;
    }
  }
  tbody {
    td {
      position: relative;
      text-align: left;
      border-bottom: 1px solid $color-grey;
      padding: 12px;
      font-size: em(18,16);

      @include breakpoint(0 ($break-small - 1px)) {
        padding: 8px;
        font-size: em(15,16);

        &.overflow {
          width: 28%;
          max-width: 28%;
          overflow: hidden;
          img {
            width: auto;
            max-width: auto;
            max-height: 70px;
            height: auto;
            margin: auto;
          }
        }
      }
      @include breakpoint(0 ($break-medium - 1px)) {
        &.overlay {
          position: relative;
          text-align: center;
        }

        &.overlay img {
          position: relative;
          z-index: 2;
          display: inline-block;
          width: 30px;
          height: 30px;
          margin-bottom: -15px;
        }
        &.overflow {
          img {
            width: auto;
            max-width: auto;
            max-height: 70px;
            height: auto;
            margin: auto;
          }
        }
      }

      strong {
        font-weight: 600;
        color: $color-purple;
      }
      small {
        font-size: 0.7em;
        color: $color-grey-dark;
      }
    }
  }
}
