
.topic-list {
  li {
    @include breakpoint($break-small) {
      border-bottom: 2px solid $color-grey-light;
    }
  }
  header {
    @include breakpoint($break-small) {
      border-bottom: 2px solid $color-grey-light;
    }
  }
  .slide-content {
    img {
      float: left;
      margin-top: 25px;
      margin-right: 25px;
      margin-bottom: 15px;
      display: none;
      @include breakpoint($break-small) {
        display: block;
      }
      @include breakpoint($break-medium) {
        margin-left: 15px;
      }
    }
    &>div {
      padding-top: 30px;
      padding-bottom: 30px;
      @include breakpoint($break-medium) {
        overflow: hidden;
      }
    }
    p {
      margin-bottom: 30px;
      color: $color-grey-dark;
      font-size: em(16,16);
      line-height: em(28,16);
    }
  }
}

.topic-footer {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  span {
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: em(14,16);
    img {
      vertical-align: middle;
      margin-right: 10px;
    }
  }
  display: none;
  @include breakpoint($break-small) {
    display: block;
  }
}

.topic-infobox {
  background-color: $color-blue-light;
  padding: 25px;
  text-align: center;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  @include breakpoint($break-small) {
    display: none;
  }
}


.campaign-list {
  @include breakpoint($break-small) {
    padding-bottom: 50px;
  }
  @include breakpoint(0 ($break-small - 1px)) {
    thead, tfoot {
      display: none;
    }
  }
}


.loans-block {
  &>header {
    @include breakpoint(0 ($break-small - 1px)) {
      display: none;
    }
  }
}
.loans-footer {
  margin-bottom: 20px;
  text-align: center;
  @include breakpoint($break-small) {

    margin-bottom: 100px;
  }
  button, strong, a, span {
    display: block;
  }
  strong {
    padding: 12px;
    color: $color-purple;
    font-weight: 600;
    @include breakpoint(0 ($break-small - 1px)) {
      font-size: em(16,16);
      background-color: $color-grey-light;
      text-align: left;
    }
    @include breakpoint($break-small) {
      padding-top: 20px;
      font-size: em(18,16);
      color: $color-purple;
    }
  }
  div {
    padding: 12px;
    @include breakpoint(0 ($break-small - 1px)) {
      text-align: left;
    }
    @include breakpoint($break-small) {
      border-bottom: 1px solid $color-grey;
      padding-bottom: 20px;
    }
  }
  a {
    margin-top: 25px;
    font-size: em(14,16);
    @include breakpoint(0 ($break-small - 1px)) {
      display: none;
    }
  }
  button {
    width: auto !important;
    padding-left: 25px !important;
    padding-right: 75px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    @include breakpoint($break-small) {
      margin-top: 30px;
    }
  }
  span {
    margin-top: 90px;
    color: $color-grey;
    @include breakpoint(0 ($break-small - 1px)) {
      display: none;
    }
  }
}
