
.campaign-list {
  header h2 {
    margin-bottom: 0;
  }
  @include breakpoint($break-small) {
    padding-bottom: 50px;
    header h2 {
      padding-bottom: 15px;
    }
    li {
      border-bottom: none;
    }
  }
  @include breakpoint(0 ($break-small - 1px)) {
    thead, tfoot {
      display: none;
    }
  }
}

.topic-list {
  header h2 {
    margin-bottom: 25px;
    border-bottom: 2px solid $color-grey-light;

    @include breakpoint(0 ($break-small - 1px)) {
      margin-bottom: 0;
      border-bottom: none;
    }
  }
  .slide-content {
    img {
      margin-top: 25px;
      margin-right: 25px;
      margin-bottom: 15px;
      display: none;
      @include breakpoint($break-small) {
        display: block;
      }
      @include breakpoint($break-medium) {
        margin-left: 15px;
      }
      float: left;
    }
    &>div {
      padding-top: 30px;
      padding-bottom: 30px;
      @include breakpoint($break-medium) {
        overflow: hidden;
      }
    }
    p {
      margin-bottom: 30px;
      color: $color-grey-dark;
      font-size: em(16,16);
      line-height: em(28,16);
    }
  }
}

.topic-footer {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  span {
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: em(14,16);
    img {
      vertical-align: middle;
      margin-right: 10px;
    }
  }
  display: none;
  @include breakpoint($break-small) {
    display: block;
  }
}

.topic-infobox {
  background-color: $color-blue-light;
  padding: 25px;
  text-align: center;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  @include breakpoint($break-small) {
    display: none;
  }
}
