h1, h2, h3, h4, h5, h6 {
  color: $color-text-dark;
}

h1 {
	font-size: em(36,16);
	font-weight: 300;
	color: $color-purple;
	margin: 0 0 0.3em 0;
}
h2 {
	@extend h1;
	font-size: em(28,16);
}
h3 {
	font-size: em(18,16);
	font-weight: 300;
	text-transform: uppercase;
	margin: 0;
}

p {
  margin: 0 0 em(18,16);
  font-size: em(16,16);
  line-height: em(28,16);
}

a {
	color: $color-purple;
}

.p-container {
	ul, li {
		margin: 1.5em 0;
	}
}