<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/icons.css">
    </head>
    <body>

      <header class="header">
        <div class="l-container">
          <nav class="main-menu">
            <ul>
              <li class="mobile"><a href="javascript:void(0)">
                Fordeler <i class="icon-chevron-right"></i><img src="img/menu-icon-1.png"></a>
              </li>
              <li class="mobile"><a href="javascript:void(0)">
                Referanser <i class="icon-chevron-right"></i><img src="img/menu-icon-2.png"></a>
              </li>
              <li class="mobile"><a href="javascript:void(0)">
                Kundeservice <i class="icon-chevron-right"></i><img src="img/menu-icon-3.png"></a>
              </li>
              <li><a href="javascript:void(0)"> Norge <i class="icon-arrow-down"></i></a></li>
            </ul>
          </nav>
          <a href="javascript:void(0);" class="menu-toggle">
            <span>Meny</span>
            <div><span></span><span></span><span></span><span></span></div>
          </a>
          <div class="logo"><a href="index.html"><img src="img/logo.png"></a></div>
        </div>
      </header>

      {{ content }}

      <footer class="footer clearfix">
        <div class="l-container menu-block clearfix">
          <nav class="main-menu">
            <ul>
              <li><a href="javascript:void(0)">Fordeler</a></li>
              <li><a href="javascript:void(0)">Referanser</a></li>
              <li><a href="javascript:void(0)">Kundeservice</a></li>
              <li><a href="javascript:void(0)"> Norge <i class="icon-arrow-down"></i></a></li>
            </ul>
          </nav>
        </div>
        <div class="padded-block">
          <div class="l-container clearfix">
            <div class="copyright">
              Copyright &copy; 2014 Forbrukerhjelpen
            </div>
            <div class="logo">
              <a href="index.html"><img src="img/logo.png" alt="Forbrukerhjelpen"></a>
            </div>
            <div class="contact">
              <p>Trenger du hjelp? Send oss en e-post</p>
              <button class="btn btn-blue">Kontakt oss</button>
            </div>
          </div>
        </div>
      </footer>

      {% include scripts.html %}
    </body>
</html>
